[2018-05-25 16:49] Chofoteddy commented on #27
This feature is great.

I want to add complementary button "User integrity" or maybe "Data integrity", the purpose is add two fields to the table database: `created_by` and `updated_by`.

And complementary to soft delete: `deleted_by`.

But I have a question (issue #235), I would like to have your help.

[2018-06-02 13:48] wertykid opened #237 "Pull data from SQL database to display in checkboxlist in backend"
Hello,

I would like to ask how do I pull data from SQL database to populate checkbox options using checkboxlist in backend?

I am currently following this code from this link:

http://octobercms.com/docs/backend/forms#field-dropdown
[code]
Any help would be gladly appreciated, thank you!

[2018-06-03 03:08] LukeTowers commented on #237
@wertykid are you using Models or are you wanting to directly query the DB with raw SQL?

[2018-06-03 07:06] wertykid commented on #237
Hi Luke, I’m using Models

[2018-06-03 10:57] LukeTowers commented on #237
@wertykid then just use queries on the models and return it as an array. You'll need to understand how eloquent model queries work and how arrays work in PHP.

Below is a basic and clunky example for reference:
[code]

[2018-06-03 10:57] #237 closed

[2018-06-03 19:06] wertykid commented on #237
Thanks for the help Luke!

[2018-07-06 07:09] angay9 opened #238 "Allow to select mode for FileUploader form widget"
Hi there, thanks for a great plugin.

It would be nice if in the builder plugin inside the Models -> Forms -> fields.yaml file where we define all form widgets we could select the mode for the file uploader widget just like in the media finder widget.

Thanks again :)

[2018-07-06 15:56] LukeTowers commented on #238
@angay9 you should already be able to??? https://github.com/rainlab/builder-plugin/blob/master/classes/StandardControlsRegistry.php#L742-L753

[2018-07-06 15:56] #238 closed

[2018-07-14 18:36] ayumihamsaki opened #239 "I get this error message when I open Builder Plugin"
See screenshot:

![sss](https://user-images.githubusercontent.com/17784082/42727361-189c29ae-879d-11e8-84a8-53d60eeeff93.png)

Maybe it's something I did wrong somewhere...? What does this error mean please.

[2018-07-15 04:38] LukeTowers commented on #239
It means that the plugin was unable to detect the namespace from the model source file. You probably have a typo somewhere.

[2018-07-15 04:38] #239 closed

[2018-07-15 20:52] ayumihamsaki commented on #239
@LukeTowers Thanks for your advice! A+++

[2018-07-27 18:14] ayumihamsaki opened #240 "Question: HTML5 datalist in builder?"
Hi,

Does the builder plugin have an option in its Model section to create a HTML5 <[datalist](https://html.spec.whatwg.org/multipage/form-elements.html#the-datalist-element)> field?

Let's say I want to create the following text field:

[code]

Is there a way to do this is the builder plugin or is it better to create a custom FormWidget?

Sorry to ask question and not file an issue (just trying t

[2018-07-31 11:41] Syourt opened #242 ""Default from" on textfield doesn't work i.c.w. dropdown field"
I wan't to create the following layout:

- **Switch field** - Determines whether to show dropdown or manual input
- **Dropdown** - Updates (hidden) manual input field on change
- **Manual input field** - Can be filled out manually if switch field is set to manual, else it will be updated with the value selected in the dropdown.

Now when I select a value in the dropdown field, the manual input fie

[2018-08-01 13:54] #234 closed

[2018-08-01 20:27] ayumihamsaki commented on #240
Going to close this - I built a formwidget instead.

[2018-08-01 20:27] #240 closed

[2018-08-02 11:53] LukeTowers commented on #240
@ayumihamsaki you would create a custom formwidget for that and then you could register it to make it available to the builder plugin.

[2018-08-02 16:27] LukeTowers commented on #234
@ayumihamsaki no answer? 😉

[2018-08-02 21:28] LukeTowers commented on #242
Do both of those work separately?

[2018-08-03 08:19] #177 closed

[2018-08-15 07:50] ezersky opened #243 "Builder Record list error"
I have a strange error - when using the Builder Record list I get a 500 error. Here is a screenshot http://joxi.ru/krD19DRiE16gwm?d=1

From errors-log: 64 limiting connections by zone "lfcgi"

[2018-08-15 23:01] LukeTowers commented on #243
Not enough information to go on, please post your full error log.

[2018-08-17 06:58] ezersky commented on #243
It was a problem on my server
Nginx parameter «limit_conn lfcgi» was too small

[2018-08-17 06:58] #243 closed

[2018-08-30 10:59] Konfuze commented on #232
You can remove the button in `<october_root>/plugins/<your_namespace>/<plugin_name>/<controller_name>/controllers/menu/_list_toolbar.htm`.

String you need to delete looks like
`<a href="<?= Backend::url('namespace/plugin/controller/reorder') ?>" class="btn btn-default oc-icon-list"><?= e(trans('backend::lang.reorder.default_title')) ?></a>`

[2018-08-30 19:14] #232 closed

[2018-09-05 13:45] setsrl opened #247 "intercept model save"
Hi,

I've successfully created a couple of models. I need my app to do some task when a model is saved, how do I achieve that?

Thanks a lot

[2018-09-21 13:01] iotch opened #248 "declare construct is not supported in language files"
The `declare(strict_types=1)` in plugin language file makes language file invalid and rises `ApplicationException` at https://github.com/rainlab/builder-plugin/blob/master/classes/LocalizationModel.php#L52

The validation fails here: https://github.com/rainlab/builder-plugin/blob/master/classes/LocalizationModel.php#L387

I believe that should be fixed since `declare(strict_types=1)` is may be add

[2018-09-21 14:51] LukeTowers commented on #248
Make a PR to fix it if you'd like @iotch

[2018-09-22 05:18] jeffcates opened #249 "Receiving 403 Error When Attempting to Open Database Tables"
Hi,

I've been using the builder plugin for a while.  And it has worked great.  Recently I am getting a 403 error whenever clicking on a table name to open and edit it within builder.

I've spent the last couple hours trying to hunt down the error, only getting as far as cmdOpenTable JS call.  I am not sure what would have changed.  Any help is much appreciated!

NOte: The 403 error message appear

[2018-09-22 12:27] iotch commented on #248
Sorry, but I'm too new to OctoberCMS to know about all future issues my edits may cause.

[2018-09-22 21:40] jeffcates commented on #249
this is a mod_secuirty issue with my host.  they evidently changed some settings within the last week causing this issue.

[2018-09-22 21:40] #249 closed

[2018-09-23 01:28] LukeTowers commented on #248
@iotch that's what I'm for ;) If you make a PR I'll review it before it gets merged to prevent any future issues :)

[2018-09-30 16:19] ayumihamsaki opened #252 "Add option to create Seeder Files"
Just an idea, why not let builder also create Database Seeder Files?

~would save us all time having to create them out manually.

[2018-10-01 00:11] LukeTowers commented on #252
@ayumihamsaki sure, feel free to add support in a PR ;)

[2018-10-01 15:53] ayumihamsaki commented on #252
I be honest and say I'm not sure if I got enough time to create this one. So if anyone else wants to create a PR for it please feel free. If not I will try in a few weeks time...

[2018-10-01 15:57] ayumihamsaki commented on #252
I be honest and say I'm not sure if I got enough time to create this one. Got so much work going on right now! If anyone wants to create a PR for it, please go ahead.

[2018-10-02 15:12] LukeTowers commented on #252
@ayumihamsaki I'm sure I don't have enough time :) I'll leave this open for now but if there isn't any other activity on it in a month I'll have to close it as abandoned.

[2018-10-05 21:58] LarBearrr opened #253 "Major layout break"
Just yesterday I did a fresh install of October and added the Builder plugin for a demonstration I am putting together at work. Everything was working perfectly.

Fast forward to today and the layout for the Builder plugin is completely broken.... and I cannot figure out why.

![image](https://user-images.githubusercontent.com/28734844/46561999-c38e6d00-c8bf-11e8-99e8-e12706678bc3.png)

Just out o

[2018-10-06 04:02] LukeTowers commented on #253
Do you have any console errors? Are you able to see what CSS rule is causing that on your browser vs IE?

[2018-10-10 04:45] ikmespinozaIT opened #254 "Plugin not working as expected."
I have a fresh installation of builder plugin on my development website. But after I installed it, and navigate to the plugin, the page isn't working as expected.

I have been following this tutorial https://octobercms.com/blog/post/say-hello-builder, and was stuck on the builder plugin page. See here (https://imgur.com/a/zkdGZMX) for reference.

Initially, the builder plugin page is shown on the

[2018-10-10 04:48] ikmespinozaIT commented on #254
Sorry, this is a duplicate issue on https://github.com/rainlab/builder-plugin/issues/253.

[2018-10-10 04:48] #254 closed

[2018-10-10 04:53] ikmespinozaIT commented on #253
Same issue I encountered yesterday. It was a fresh installation of the builder plugin.
I see no console errors though.
https://imgur.com/a/zkdGZMX

[2018-10-10 10:16] ikmespinozaIT commented on #253
I think either of these two modifications I made that triggers the issue. Coz, for now, I didn't follow these steps, and the builder is working fine.
![image](https://user-images.githubusercontent.com/3295011/46729636-fd33ef00-cc96-11e8-822c-21fc693f1d1d.png)

[2018-10-10 14:40] LukeTowers commented on #253
Hmm, must be something in the develop branch that's causing this. I don't really have time to look into what it is exactly though

[2018-10-13 23:00] #170 closed

[2018-10-13 23:02] LukeTowers commented on #170
@Alex360hd finally got around to adding it myself, was a huge pain (had to implement a fix to the auto generation of fieldNames as a part of this!)

[2018-10-13 23:03] LukeTowers commented on #170
Took around 2 hours to get everything sorted out (which also included issues with symlinking just one plugin and generating public asset paths). If everything had worked fine it probably only would have taken half an hour to do.

[2018-10-13 23:03] LukeTowers commented on #170
But I digress, it's available now.

[2018-10-13 23:03] #235 closed

[2018-10-13 23:04] LukeTowers commented on #235
@Chofoteddy added the ability to do the compilation in https://github.com/rainlab/builder-plugin/commit/0347411936a01b85f7bcc46c97570cd1603c9097. Just run `php artisan october:util compile assets` in your project root now.

[2018-10-31 00:43] LukeTowers opened #256 "Possible to brick a site by creating a plugin with reserved keywords in the namespace"
It is possible to brick a site by creating a plugin with a [reserved word](http://php.net/manual/en/reserved.php) in the namespace.

This will create the invalid plugin file just fine, however every future request to the site will fail with a 500 error since there is now an invalid Plugin.php file that October is trying to load on every request.

To fix this, we should either add protection agains

[2018-10-31 14:59] tschallacka opened #257 "Custom database types not recognized."
I have a geometry type added via extended grammar.

[code]
and the blueprint
[code]

And my stutter method for inserting things into the database with new typefields
[code]

which is used as

[code]

but when I wish to use the builder to add a new model or anything really I get this error:

![image](https://user-images.githubusercontent.com/8638425/47797055-e6c50480-dd25-11e8-9830-598cfaf9335c.png

[2018-10-31 18:57] LukeTowers commented on #257
@tschallacka I'd assume you'd do it around https://github.com/rainlab/builder-plugin/blob/be8d9acef5f4838164a1690fc1e92f92ead383a4/classes/DatabaseTableModel.php#L338? If so, feel free to submit a PR with an event to be added and I'll review it

[2018-11-03 13:54] claudchan opened #258 "Add staticpagepicker into form widget"
Hi,
Please add staticpagepicker into form widget. Example screenshot below:
![builder-staticpagepicker-widget](https://user-images.githubusercontent.com/1639056/47953057-e3927880-dfb2-11e8-8b90-ba916d91f030.png)

[2018-11-03 16:43] LukeTowers commented on #258
Submit a PR to implement this. As a note, it will have to be implemented in a way that only takes effect when the RainLab.Pages plugin is installed and active, so probably through events. See https://github.com/rainlab/builder-plugin/commit/b5a3277f66f801a28b6b2bc33fefb61fc7863674 for an example of everywhere that has to be modified to add it as a control.

[2018-11-04 00:33] claudchan opened #259 "Add Page Picker into form widget"
Hi,
Please implement page picker into form widget. This is very useful for client easily pick that page to display my custom form plugin using builder. Please consider.
![page-picker-from-widget](https://user-images.githubusercontent.com/1639056/47958739-30ef0400-e00c-11e8-8921-27e62c8a6afb.png)

[2018-11-05 15:14] LukeTowers commented on #259
@claudchan see https://github.com/rainlab/builder-plugin/issues/258#issuecomment-435602432. Duplicate of #258.

[2018-11-05 15:14] #259 closed

[2018-11-05 22:40] 1deadpixl opened #260 "[Bug] Blank 'Records per page' pagination setting on list component causes exception during template rendering"
When adding a list component to a page, an exception is thrown if no value is entered for the "Records per page" in the "Pagination" section. Specifically, the error `"Method lastPage does not exist"` is thrown  from line 29 of `/plugins/rainlab/builder/components/recordlist/default.htm`.
The expected behavior is that pagination is disabled if the field is left blank, as noted in the info tooltip

[2018-11-16 08:35] 1deadpixl commented on #260
Today I realized this exception only prevents rendering when the environment variable `APP_DEBUG` is set to `true`. I assume this is intended behavior since many other exceptions are thrown when debugging is turned on. Setting the "Records per page" value to 0 also allows the page to render correctly, I'm just not sure how many records it would show—all of them, maybe?
Either way, I'll close out t

[2018-11-16 08:35] #260 closed

[2018-11-16 09:40] shoxabbos commented on #107
[code]

[2018-12-02 18:09] #256 closed

[2018-12-07 10:45] zekrus opened #263 "onAddItem not work properly"
Hi!
Help me please write from frontend http://добрыйгражданин.рф/newcatalog
In video tutorial you tell how write from backend http://добрыйгражданин.рф/
Best regards, Nikolay Zeveke
E-mail: zekrus@gmail.com

[2018-12-13 16:40] LarBearrr commented on #253
@tfprado You may want to look at your composer.json and move away from the `dev-develop` branches. I can't remember exactly what caused this problem, but I do remember it had to do with the comment @ikmespinozaIT made:

[2018-12-14 11:10] w20k commented on #253
@tfprado, @LarBearrr,@ikmespinozaIT,
It was fixed in the dev branch. It's waiting for an upcoming release 444 [(merge).](https://github.com/octobercms/october/commit/99bfae4ed076541434bf938f8ec7861505655710)

I remeber, manually change: `max-width: 100%` ->  'width:100%' for layout class.
Screenshot:
![screenshot 2018-12-14 at 13 06 25](https://user-images.githubusercontent.com/1053320/50000076-1a

[2018-12-22 16:31] megalogi opened #266 "I get text 'NULL' on default input"
Hello,

I don't understand why i get text 'NULL' on input default, (see image below)

Hello.

<img width="897" alt="capture d ecran 2018-12-22 a 17 28 13" src="https://user-images.githubusercontent.com/9659469/50376599-eef33f00-0606-11e9-91fb-095b4a124e26.png">

[2018-12-23 14:10] megalogi commented on #266
@LukeTowers, can you please help me on this issue ?

[2018-12-23 16:50] LukeTowers commented on #266
@megalogi it just means that the column is going to have a default value of null because you have ticked the `nullable` checkbox. NULL means no value

[2018-12-23 16:50] #266 closed

[2018-12-25 05:56] alpapan opened #267 "validator resolver code breaks other validator resolvers"
Hello

It seems that the following code found in Plugin.php

[code]

breaks all attempts to implement our own validators in a new plugin.

**What did I expect**
When I build a new plugin, I needed new validations. I implemented them using a class. That a new validation rule would work as expected

**What did I get**
My validation rules were not found (Method validateXyz not found). Even very simpl

[2018-12-25 21:40] w20k commented on #267
@alpapan, what validations are you talking about?
You can't name your plugin using restricted words, that's why this validator is in place: https://github.com/rainlab/builder-plugin/blob/910715d2603326404940f63584775c6c5fa3b4ed/validation/ReservedValidator.php#L12.

[2018-12-26 03:36] LukeTowers commented on #267
@bennothommo Could you look into this?

@w20k he's talking about issues with registering his own custom validator resolver rules, not with issues with that specific rule

[2018-12-26 03:37] LukeTowers commented on #267
@bennothommo might have to switch to this method of adding a custom rule: https://github.com/luketowers/oc-pwnedpasswords-plugin/blob/master/Plugin.php#L38

[2018-12-26 03:55] bennothommo commented on #267
@LukeTowers not a problem, I'll have a look in the next day or so.

I got the suggested Validator implementation from this doc page:
https://octobercms.com/docs/services/validation#custom-validation-rules
I might try see how this *should* be implemented and suggest some edits there if it seems to be having this sort of effect on other plugins.

[2018-12-26 03:59] bennothommo commented on #267
@alpapan would you mind providing an example of how you are setting up your validation rule in your custom plugin? Is it part of the `boot` process?

[2018-12-27 01:38] alpapan commented on #267
Hello!

First I created a new class at validation/BioValidator.php

[code]

Then this went to my Models/Software.php where the validator will apply at the top
[code]
I registered the class at storage\framework\classes.php (but I'm not sure if I had to...)
[code]

and this one inside the Model extension:

[code]

Finally, this one went to Plugin.php on the boot function
[code]

If I delete the Buil

[2018-12-27 10:13] suraj2209 opened #268 "Issue in localization"
Hello Everyone i am using builder Plugin and it works fine but i am getting a issue related to localization. I have created a CRUD and i am creating and displaying that data on a page now i want to use localization in it so how can i do so

[2018-12-27 19:21] LukeTowers commented on #268
Github issues really isn't the place for questions like this. Please use one of the many other avenues available instead of submitting new issues for your questions.

Forum: https://octobercms.com/forum
StackOverflow: https://stackoverflow.com/questions/tagged/octobercms
IRC: #october on Freenode or https://octobercms.com/chat
Slack: https://octobercms-slack.herokuapp.com/

[2018-12-27 19:21] #268 closed

[2018-12-28 05:02] bennothommo commented on #267
@alpapan I've replicated your issue. It appears that Laravel's Validator factory only accepts one resolver, so whichever resolver is accepted first is the one that runs, and the custom rule that you added to your model usually throws an error as the resolver is never run. The way that @LukeTowers has included a custom rule in his Pwned Passwords plugin seems to be the best implementation.

I'll su

[2018-12-28 07:40] LukeTowers commented on #267
@bennothommo perfect, thanks. Could you submit a PR to the docs repo providing the recommended way of registering custom validation rules and explaining the caveats of the resolver method?

[2018-12-29 04:16] alpapan commented on #267
Thanks!
FWIW, I failed to get it to work by following the library#365 issue (see below) or Luke's plugin approach... so a doc would be great...

![image](https://user-images.githubusercontent.com/608484/50533391-a7c3fb80-0b7c-11e9-94f5-02cc3afc5bfc.png)

[2018-12-29 05:03] alpapan commented on #267
If implementing octobercms/library#365 turns out you need this in the Rule class (from https://github.com/mpociot/laravel-apidoc-generator/issues/247#issuecomment-353553829).

[code]

[2018-12-30 02:57] bennothommo commented on #267
@LukeTowers done, PR for docs is here: https://github.com/octobercms/docs/pull/346

@alpapan You would only need the `__toString()` method if you are using the API generation command as per the linked issue. I don't believe it is needed for validation.

[2018-12-30 05:30] alpapan commented on #267
sadly i had to add the __toString to the Rule class otherwise I get the error I pasted https://github.com/rainlab/builder-plugin/issues/267#issuecomment-450464217.

I struggled also creating a message replacer. it seems the current approach only works for class validator not for rule (and Luke's approach of registering to Plugin.php is also based on the validator class rather than rule). My horse

[2018-12-30 07:13] bennothommo commented on #267
@alpapan I've added some additional details and an example about the replacer to my docs PR linked above. If you need further help with this, it may be worth looking at the Laravel docs as well: https://laravel.com/docs/5.5/validation#using-rule-objects.

[2018-12-30 22:31] alpapan commented on #267
Thanks
To help others viewing issue:
One has two options: creating a Rule class or a Validator class. The former is simpler (and what I've done so far).

However, my understanding that you need to create a Validator class if you want replace placeholders in validation messages. With a Rule class, you can define messages but it won't allow a replacer function for placeholders.

If this is right, I'

[2019-01-01 00:47] #267 closed

[2019-01-21 18:14] VadimIzmalkov opened #270 "Using dynamic scope method in Record list component"
I defined dynamic scope method but could not find it in component dropdown, there are only methods from model class

Seems to me it not possible https://github.com/rainlab/builder-plugin/blob/master/components/RecordList.php#L209

[2019-01-22 05:44] LukeTowers commented on #270
@VadimIzmalkov you mean with `addDynamicMethod()`?

[2019-01-23 07:15] LukeTowers commented on #270
We would need to add a method to ExtendableTrait (https://github.com/octobercms/library/blob/master/src/Extension/ExtendableTrait.php) `getClassMethods` with logic similar to the existing `methodExists` method; and then use that newly added method here. @w20k @bennothommo @daftspunk any interest in the above?

[2019-01-23 10:33] GinoPane opened #271 "[Question] The plugin breaks custom validation messages for other plugins"
I noticed that my custom validation messages are being skipped and October uses its own default messages instead.

I set up validation messages by simply providing `$customMessages` array in my model:

[code]

I tracked down the issue and here's the problem:

![image](https://user-images.githubusercontent.com/3897579/51600219-6a435b80-1ef9-11e9-963e-df36d6df8094.png)

All custom messages are being

[2019-01-23 19:18] LukeTowers commented on #271
@GinoPane make a PR to bump the version in version.yaml file, that'll trigger the marketplace to release the new version. Or, you can load it via composer instead.

[2019-01-23 19:18] #271 closed

[2019-01-24 05:08] bennothommo commented on #270
@LukeTowers sure thing, I'll implement it.

[2019-01-24 05:21] bennothommo commented on #270
@VadimIzmalkov Could you give an example of your dynamic scope method and `addDynamicMethod()` call so I can test?

[2019-01-24 09:31] VadimIzmalkov commented on #270
@bennothommo I need scope in [Reviews](https://octobercms.com/plugin/vojtasvoboda-reviews) plugin. For storing "HTTP_REFERER" I added additional column to Review database schema and created scope method for this column. I guess that is not simplest way to test.

[code]

[2019-01-24 12:56] paishin opened #272 "Partial field type does not have a 'Label' option"
Label option is missing from the 'Partial' field type options.
Adding it manually by editing the fields.yaml file works fine but 'label' attribute gets removed next time you save from Builder's interface.

[2019-01-25 09:40] bennothommo commented on #270
PR now submitted: https://github.com/rainlab/builder-plugin/pull/273

[2019-01-25 20:09] LukeTowers commented on #272
See https://github.com/rainlab/builder-plugin/blob/master/classes/StandardControlsRegistry.php#L333

[2019-01-26 18:47] #270 closed

[2019-01-28 08:41] Ladylain opened #275 "Pages issue"
Hi ,

- OctoberCMS Build: 446
- PHP Version: 7.2.2
- Database Engine: MySQL
- Plugins Installed: Rainlab.Builder, Rainlab.Users, JBonnyDev.UserPermissions

### Description:
I've created multiple CMS page with `:page` parameter on `model ID` identifier.
All my pages have the same navigation menu (done mannually).

When i'm on a page like `http://www.example.com/list/3` and I click on a link that re

[2019-01-28 09:06] Eoler commented on #275
That's how CMS pages work - by passing forward current URL params with the same name.

You can reset link parameters universally by passing: `|page(false)` into Twig filter.

[2019-01-28 09:08] Ladylain commented on #275
Thanks for your answer @Eoler but would it be more user friendly to make that if you put `| page` it is like `|page(false) ` ?

[2019-01-28 09:15] Eoler commented on #275
Think about what would that mean for backward compatibility...

[2019-02-13 13:57] ikki-lim opened #277 "Save new table keep loading"
When create new table for plugin, after click save button and the page keep loading. Waited for an hour but still showing loading.

Anyone can help on this? I have checked the database user and it has full privileges.

Thanks.

[2019-02-13 14:58] #277 closed

[2019-02-13 19:50] LukeTowers commented on #277
Please post what you found as your solution before closing an issue so that other people that may have the same issue as you can benefit from what you discovered too :)

[2019-02-28 13:06] unizhu commented on #212
I have the same issue with PostgreSQL 10.x.  Is this bug is waiting for the octobercms core's update?

[2019-02-28 13:12] w20k commented on #212
@unizhu Someone should provide PR to fix this and tests. You could be the one 👍

[2019-02-28 19:06] LukeTowers commented on #212
@w20k that would be up to @daftspunk, bring it up in #sharktank. It is EOL now

[2019-03-01 09:34] w20k commented on #212
@unizhu @elceka @rosscturner @TilgalisToms - It's not yet possible to move on from PHP 7.0.
We have to find another way to fix this issue on our side or ask doctrine to patch it.

PR's are welcomed 😄 Thanks!

[2019-03-13 13:50] iboved commented on #267
I have the same problem. My custom validation rules don't work if the RainLab.Builder plugin is installed. I am using the latest version of the RainLab.Builder plugin - 1.0.23.

[2019-03-14 02:20] LukeTowers commented on #267
@iboved if you're using composer switch to `dev-master` instead. Otherwise make a PR to bump the version.yaml file to create a new release.

[2019-03-28 15:07] paishin commented on #136
Sorry to comment on such an old thead. I am faced with a similar issue and I was wondering if there is any way to create custom input presets.
(In my case I just want to convert to uppercase)

[2019-03-28 15:37] w20k commented on #136
JS or beforeSave ;)

[2019-03-28 20:24] paishin commented on #136
I am actually doing it using a custom input form field with javascript that converts input to uppercase. I just thought it would be much better if I could create my own presets i.e. uppercase, lowercase, capitalize, kebab, integer, float, currency etc or the ability to add regex rules instead of creating a custom input field for each one.

[2019-04-04 14:48] smkamranqadri opened #278 "how to create RestFul API for the plugin created"
Is there any way where we can create Rest Ful api for the plugin that we created using in builder plugin?

[2019-04-04 20:55] LukeTowers commented on #278
You can always create whatever you want in your plugin code. See https://octobercms.com/plugins?search=api for plugins that let you generate an API without writing code though

[2019-04-04 20:55] #278 closed

[2019-04-05 15:21] sardykoivan commented on #257
when use postgresql, creating database table, appears exception, i solve them, when add  `$platform->registerDoctrineTypeMapping('txid_snapshot', 'text');` to method from previous comment
![image](https://user-images.githubusercontent.com/16113928/55638173-46d93e80-57cf-11e9-9fec-0317f6d80c2c.png)

[2019-04-09 21:09] Air-Petr opened #279 "Why code field is readOnly (MigrationModel)?"
I wonder why does `code` field in migration popup have `readOnly: true` property? Are there any reasons? It would be nice to edit code before creating migration file.

https://github.com/rainlab/builder-plugin/blob/008f3e8b4cfe357f0ebf5efb0e86f1de179c942d/classes/migrationmodel/fields.yaml#L11

[2019-04-20 06:43] LukeTowers commented on #233
Probably not given @daftspunk's opinion on where the language is headed but mostly the fact that it's not used anywhere else in the entire OctoberCMS / RainLab core

[2019-04-20 06:43] #233 closed

[2019-04-21 15:45] sebalaini commented on #212
same problem here, fresh installation of octoberCMS with postgreSQL 11.2 on macOS X and PHP 7.3.4

`"An exception occurred while executing 'SELECT min_value, increment_by FROM "migrations_id_seq"': SQLSTATE[42703]: Undefined column: 7 ERROR:  column "min_value" does not exist LINE 1: SELECT min_value, increment_by FROM "migrations_id_seq" on line 72 of /Users/username/Sites/october/vendor/doctrine

[2019-04-21 17:35] bennothommo commented on #242
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-21 17:35] #242 closed

[2019-04-21 17:36] bennothommo commented on #248
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-21 17:36] #248 closed

[2019-04-21 17:37] bennothommo commented on #252
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-21 17:37] #252 closed

[2019-04-21 17:40] bennothommo commented on #253
Closing this issue as build 444 of October CMS is out. If this issue still persists in newer October CMS versions, please feel free to re-open this issue.

[2019-04-21 17:40] #253 closed

[2019-04-21 17:47] bennothommo commented on #258
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-21 17:47] #258 closed

[2019-04-21 17:48] #229 closed

[2019-04-21 17:51] bennothommo commented on #193
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-21 17:51] #193 closed

[2019-04-21 18:15] bennothommo commented on #279
@Air-Petr Since the migration is run immediately once the migration popup is closed, it may be risky to allow edits here in case the migration cannot complete.

If you want to make manual changes to the migration, it's best to do this in the **Versions** section of the Builder plugin, where errors are more thoroughly checked and you have the capability of committing and rolling back migrations.

[2019-04-21 19:50] Air-Petr commented on #279
Yes, I know about *Versions* section. But it feels unusual a bit when migrations are applied instantly. Also, quite often I have to do a rollback right after migration file was created. So is there a way to eliminate this unnecessary step?

I see two scenarios:

1. Create a checkbox **Also apply** in the Migration popup and change name of the blue button to **Save**. So the migrations will be appl

[2019-04-22 03:27] bennothommo commented on #279
@Air-Petr I'd be happy to accept a PR that allows you to edit the migration in the popup, only if it can: a) handle if the migration is incorrect or cannot be run by showing an error and rolling back any changes made and, b) can reflect the migration's changes immediately in the database table schema editor when the popup closes.

[2019-04-24 03:10] bennothommo commented on #275
@Ladylain The `page` Twig filter persists URL parameters across pages if they are not explicitly changed in the filter. See: https://octobercms.com/docs/markup/filter-page#persistent-parameters

If you want to suggest a change with it, it's best that you fill out an issue or PR for [October CMS core](https://github.com/octobercms/october), as the `page` filter is specified there.

[2019-04-24 03:10] #275 closed

[2019-04-24 03:18] bennothommo commented on #225
Hi @Alex360hd, I presume that you have been able to arrive at a solution as part of your PR here: https://github.com/rainlab/builder-plugin/pull/228 so I'm going to close this question.

If you still need an answer to this, feel free to post it in the same PR and we can discuss :)

[2019-04-24 03:18] #225 closed

[2019-04-24 03:19] bennothommo commented on #191
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2019-04-24 03:19] #191 closed

[2019-04-24 04:58] #134 closed

[2019-04-24 04:59] bennothommo commented on #134
This is now available as of 95f34514d7e7e64383a0fcb3b0b467d1cdb121dc.

[2019-04-24 06:55] #144 closed

[2019-04-24 06:55] bennothommo commented on #144
This is now available as of ef437a00d271bdd1dd9ca4e929c3a91589124d75.

[2019-04-24 08:09] gavinworks commented on #134
We love @bennothommo !!

[2019-04-24 09:01] #160 closed

[2019-04-24 09:02] bennothommo commented on #160
This is now available as of 9757a91748e6c8d34ec195682561d5b44ed52187. It will be released with v1.0.24 of the Builder plugin.

[2019-05-05 05:59] bennothommo opened #280 "Add handling of special default values"
The Builder plugin currently cannot handle certain valid default values for certain datatypes when creating a new table in the **Database** panel. A suitable PR for this issue would adjust the migration generator to allow these certain values in the "Default" column:

- **All fields with nullable ticked**: Should accept `null` as a valid value to be rendered as `null` in the migration. Should also

[2019-05-06 09:52] bennothommo commented on #212
We are investigating the possibility of moving to Laravel 5.9 LTS in the future, which will include (at the very least) an upgrade of `doctrine/dbal` to 2.6. Given this, we will likely focus our efforts on this upgrade as opposed to trying to fork `doctrine/dbal` and fixing this issue directly. If you are able to find a workaround that can be done directly in the Builder plugin, please feel free t

[2019-05-20 07:10] 2jiwon opened #281 "How can I import external databases into the builder plugin?"
Since the Builder Plugin automatically makes the table name like 'author_pluginname_' and they automatically change as lowercases, I can't use any external database tables, especially their names are uppercases. I know I could if I change all the tables name, but for some reason, their name should remain as uppercase. OR is there any way I can use external databases for displaying them?﻿

[2019-05-20 15:23] bennothommo commented on #281
@2jiwon Unfortunately, the Builder plugin will only list tables that match the standard table prefix for your plugin, which is the `author_pluginname_` prefix you state above. If you want external database tables to show in this editor, you will need to match that prefix.

[2019-05-20 15:23] #281 closed

[2019-05-20 17:01] LukeTowers commented on #281
Note that you can still use your custom tables in October, just that the Builder plugin will not display them or allow you to interact with them.

[2019-05-21 01:10] 2jiwon commented on #281
@LukeTowers Could you guide me how can I use the custom tables in October? I need to import the existing database tables but I can't find any way to do that.

[2019-05-21 03:06] 2jiwon commented on #281
@bennothommo Sorry to bother you, but could I edit the prefix rule for accept the table names are uppercases?

[2019-05-21 04:22] bennothommo commented on #281
Hi @2jiwon - to answer your question to @LukeTowers, you can specify an external table by setting the `$table` property in your model. For instance, to use `TEST_TABLE`, it would be:

[code]

If this exists in a completely different database to the one you use for the rest of your October app, you will need to specify another database connection in your `config/database.php` file and add a propert

[2019-05-21 05:14] 2jiwon commented on #281
@bennothommo Thank you for your answer!! :D First of all, I tried to make table names as uppercases, they've been failed. I tried to find where I have to edit, but I'm a novice developer so I'm not sure if I can make the proper PR for that. T_T

Also, could you explain more about the way of using another database connection in `config/database.php` file? I checked the doc but I don't know what to

[2019-05-21 13:16] LukeTowers commented on #281
@2jiwon to add another connection, just copy one of the existing definitions in https://github.com/octobercms/october/blob/master/config/database.php#L55-L65, edit the appropriate values, and then change the key to be whatever custom name you want for that connection. I.e.
[code]

[2019-05-22 07:08] 2jiwon commented on #281
Thank you @LukeTowers and @bennothommo! I figured out! You are lifesavers! Thank you very much!! :D

[2019-05-27 02:50] #174 closed

[2019-05-27 10:54] ovillani opened #283 "Hangup after error"
By creating a table and marking false combinations of PK, unsigned builder informs about the error correctly but hangs afterwards-

[2019-05-28 04:47] bennothommo commented on #283
@ovillani Would you be able to provide us a screenshot of what you entered into the table editor and the error message you received afterwards, so we can try and replicate the issue?

[2019-06-02 18:34] ovillani commented on #283
@bennothommo Hi, here are some screenshots as an example:
1. Set up a table with some columns with non-matching properties like this
![Clipboard01](https://user-images.githubusercontent.com/6983432/58765629-4a8e0500-8575-11e9-8992-ca4976c22f9b.jpg)

2. (Try to) save the table. First an error message appears (although I don't understand the reason)
![Clipboard02](https://user-images.githubuserconte

[2019-06-02 23:52] bennothommo commented on #283
@ovillani Thanks for the info. We will investigate the hang after the error message is shown. As for the error itself, that is a legitimate error. You have two columns marked as primary keys (PK) and have also marked the "id" field as auto-incrementing. This is not possible with MySQL.

[2019-06-03 02:30] LukeTowers commented on #283
@bennothommo the "hang up" is that the framework.js isn't treating the flash response as a valid request ending response (probably because it might be using the popup handling code which might not have allowances for flash message results). The fix is two fold, make the popup handling JS handle flash responses as valid responses that cancel the loading state and just throw an application exception

[2019-06-09 03:34] bennothommo commented on #283
@ovillani Would you be able to test the fix applied in https://github.com/octobercms/october/pull/4364 for us? It should hopefully resolve the issue.

[2019-06-09 15:53] bennothommo commented on #279
This feature is now available as of https://github.com/rainlab/builder-plugin/commit/1f94ebe8237a481170c832ac8d1d7016650315f1.

[2019-06-09 15:53] #279 closed

[2019-06-11 14:55] LukeTowers commented on #283
@bennothommo I know https://github.com/octobercms/october/pull/4364 technically fixes this, but could you change the flash message error to a regular ApplicationException instead please? The UI code for handling those is much nicer because it's more readable and it doesn't go away after a short time limit giving the developer enough time to copy the error and google it.

[2019-06-12 18:20] GinoPane opened #284 "Builder Plugin does not work with multi-line update messages"
Some time ago if implemented support of multi-line update messages for October, but I had no idea that the Builder plugin heavily relies on the old structure (I just didn't use it before).

But now I have faced the issue, that the Builder treats every message after the first one as file:
![image](https://user-images.githubusercontent.com/3897579/59375925-d400bc80-8d57-11e9-855b-5b19905a5781.png)

[2019-06-13 05:00] LukeTowers commented on #284
@GinoPane feel free to make a PR to fix support for this, although I don't know how successful you'd be at adding support for editing versions with multiple PHP scripts

[2019-06-13 06:55] GinoPane commented on #284
@LukeTowers it's a good question :) I was surprised that multiple update scripts were not supported before.

[2019-06-13 21:16] bionner opened #285 "How to include power seo"
I built a plugin with 8 records, but now i want to add the seo tags. I dont know how to do it, Is an approach available?

[2019-06-13 23:01] LukeTowers commented on #285
Github issues really isn't the place for questions like this. Please use one of the many other avenues available instead of submitting new issues for your questions.

Forum: https://octobercms.com/forum
StackOverflow: https://stackoverflow.com/questions/tagged/octobercms
IRC: #october on Freenode or https://octobercms.com/chat
Slack: https://octobercms-slack.herokuapp.com/

[2019-06-13 23:01] #285 closed

[2019-06-16 05:09] bennothommo commented on #283
@LukeTowers I've converted the messages to Application Exception messages here: https://github.com/rainlab/builder-plugin/commit/fcb1e052dd305e0a0a969e49441ee14cd55759a9

However, I've noticed today that it has brought back the hanging loading icon with this change. Not sure if it's my local copy or not, but will investigate further.

[2019-06-27 06:19] pavelmgn opened #286 "After rollback last migration, all migration set status unapplied"
Why can this happen? Thx.
![rfg](https://user-images.githubusercontent.com/8817759/60241727-6747ff00-98cd-11e9-89e9-c7e43fda7ba4.gif)

[2019-06-27 06:51] pavelmgn commented on #286
The problem was that the system_plugin_history table had no records for this plugin.

[2019-06-27 06:51] #286 closed

[2019-06-28 11:06] host138 opened #287 "Add format as a supported property for the DatePicker widget"
Hello, i have a problem.
When i write `format: d.m.Y` in the fields.yaml and then use builder plugin, it rewrites fields.yaml file, but at the same time the builder doesn't have format field.
How to use it corect without rewriting?
Thank's.

[2019-06-28 16:24] LukeTowers commented on #287
You would have to add `format` as an available property to the date picker widget in the StandardControlsRegistry here: https://github.com/rainlab/builder-plugin/blob/master/classes/StandardControlsRegistry.php#L638. Feel free to make a PR to do that.

[2019-07-02 14:09] bennothommo commented on #287
Fixed by #288.

[2019-07-02 14:09] #287 closed

[2019-07-11 15:34] faselunare opened #289 "created_at fields are constantly updated"
Hi, i have a custom plugin and i have just discovered that the field created_at is updated together with the updated_at field (but with two hours difference), the created_at field obviously does not have to be updated.

By default in the database the configuration is: Default CURRENT_TIMESTAMP
how can i solve?
Thanks

[2019-07-11 16:07] bennothommo commented on #289
@faselunare Was this plugin specifically built by the Builder plugin?

[2019-07-13 13:51] faselunare commented on #289
Yes @bennothommo
i used the plugin builder

[2019-07-13 13:54] faselunare commented on #289
this is the model
`<?php namespace B33\Conference\Models;

use Model;

/**
 * Model
 */
class Post extends Model
{
    use \October\Rain\Database\Traits\Validation;
    use \October\Rain\Database\Traits\SoftDelete;

    protected $dates = ['deleted_at'];
    protected $jsonable = ['urls'];
    protected $sluggable = ['title'];
    public $implement = ['RainLab.Translate.Behaviors.TranslatableModel

[2019-07-13 15:51] LukeTowers commented on #289
@faselunare can you show us your table migration script?

[2019-07-13 16:07] faselunare commented on #289
[code]

[2019-07-13 16:08] faselunare commented on #289
![Schermata 2019-07-13 alle 18 07 48](https://user-images.githubusercontent.com/39338657/61173856-350af280-a599-11e9-9489-9b74a210419d.png)

[2019-07-13 17:06] LukeTowers commented on #289
@faselunare all your timestamps have to be marked as nullable.

[2019-07-13 17:40] faselunare commented on #289
<img width="694" alt="Schermata 2019-07-13 alle 19 39 40" src="https://user-images.githubusercontent.com/39338657/61174826-03e4ef00-a5a6-11e9-83a1-f1780a425c83.png">
i get this error when i try to update the table with the builder ..

[2019-07-13 17:42] faselunare commented on #289
<img width="667" alt="Schermata 2019-07-13 alle 19 41 57" src="https://user-images.githubusercontent.com/39338657/61174851-4c9ca800-a5a6-11e9-8a4a-5b50be9257f8.png">

[2019-07-14 06:22] bennothommo commented on #289
@faselunare Which database software are you using? If it's MySQL, `timestamp` should be a valid column type.

[2019-07-14 11:50] faselunare commented on #289
yes mysql
there is other way to change this fields without breaking the plugin?

[2019-07-15 09:18] faselunare commented on #289
Just found this
https://github.com/laravel/framework/issues/16526

[2019-07-15 09:21] faselunare commented on #211
This is a useful function, there is some news about it?

[2019-07-15 09:27] faselunare commented on #289
I have modified the fields by hand wit phphpmyadmin and I have just found that the in the 'attribute' there is an 'on update current timestamp' option selected...  how can I fix with the builder?

[2019-07-15 09:36] bennothommo commented on #211
@faselunare Not as yet, unfortunately. If you would like for it to be implemented sooner rather than later, you might want to consider [offering a bounty](https://www.bountysource.com/teams/october/issues) for it to be implemented.

[2019-07-15 09:41] bennothommo commented on #289
@faselunare Thanks for that link - it definitely sheds some light on this. I must admit, I wasn't aware that `timestamp` is a field type only supported by certain databases.

You cannot edit attributes like that one in the Builder, as the Builder table designer is supposed to be a simplified editor for table schema. I would suggest removing it through PHPMyAdmin, or making a raw SQL query in one o

[2019-07-15 09:48] faselunare commented on #289
Thanks!
I will change it by hand for now.
do you have any idea how the field was set to 'on update current timestamp'?

[2019-07-15 11:33] faselunare commented on #289
ok, I think is a bug because in my plugin every created_at field is set to 'on update current timestamp'
and update_at not...

[2019-07-15 15:10] bennothommo commented on #289
@faselunare I'm not entirely sure how the field defaulted to use "current_timestamp" on update - as a guess, it's possible it's a default with MySQL itself with the `timestamp` field. I generally use `datetime` fields as they are more widely supported and I believe most October functions use the same.

[2019-07-16 07:43] #289 closed

[2019-07-16 07:50] faselunare commented on #289
@bennothommo thanks for the suggestion but the timestamp is added by the builder when in the model you use the 'add timestamp' and 'add soft delete'.

[2019-07-16 16:11] bennothommo commented on #289
@faselunare I believe `timestamp` in the migrations files, and Doctrine itself, is converted to a `datetime` field in the database anyway - it seems to be the case for many of the plugins I've done through the Builder plugin.

Besides this, there is no way that I'm aware of that allows you to add the "current_timestamp" flag through the migrations or through the Builder plugin (besides doing a raw

[2019-07-17 14:28] #280 closed

[2019-07-18 10:41] orcu opened #292 "end of line issue in database update (migration) files"
The builder plugin seems to be creating files with CRLF file endings, while my editor and OS uses LF endings and all other files in my project has LF endings. The file endings messes up with git repository and causes convenience (https://stackoverflow.com/questions/25597104/git-pull-error-your-local-changes-to-the-following-files-would-be-overwritten-b#comment67807650_25597104)

[2019-07-18 10:59] bennothommo commented on #292
@orcu As per [this line](https://github.com/rainlab/builder-plugin/blob/master/classes/TableMigrationCodeGenerator.php#L23), the Migration generator uses the default line break of the operating system to ensure compatibility. If you are running a Windows server, it will use CRLF line endings.

You will either need to change your hosting environment to use LF line endings. Alternatively, you can pr

[2019-07-18 10:59] #292 closed

[2019-08-14 14:47] anthonymccourt commented on #283
This bug is still present in the latest build. Try marking any non-integer as unsigned to reproduce.

October will recognize the incompatibility but the page will still hang indefinitely with all current modifications to that table lost.
![hang](https://user-images.githubusercontent.com/4533726/63030765-c9bf8380-beaa-11e9-9b8f-539d1666f815.png)

[2019-08-14 16:31] LukeTowers commented on #283
@bennothommo could you look into this?

[2019-08-15 14:18] bennothommo commented on #283
@anthonymccourt @LukeTowers Hmmm, I'm not seeing the same here:
![image](https://user-images.githubusercontent.com/15900351/63100892-92380080-bfaa-11e9-8670-9a2d66558216.png)

[2019-08-15 14:54] LukeTowers commented on #283
@anthonymccourt are you using edge builds?

[2019-08-15 15:22] anthonymccourt commented on #283
Interesting.
I can reproduce this problem with a fresh install of the latest releases of
October/Builder.

Here's some other info if useful.

October : build 455 (default config) / Builder : v1.0.25
Host : VirtualBox / Centos 7 (PHP v7.3.7) / Apache (v2.4.6) / MariaDB
(v5.5.60)
Native : Win 10 (x64)
Browser : chrome/edge/firefox tested with all extensions disabled

There's also an issue of October

[2019-08-15 15:38] anthonymccourt commented on #283
Good spot. I am not.

'edgeUpdates' => false,

On Thu, 15 Aug 2019 at 15:54, Luke Towers <notifications@github.com> wrote:

[2019-08-15 15:41] bennothommo commented on #283
@anthonymccourt Thanks for that. In terms of the other issues, would you mind filling out some issues on the [Builder plugin repo](https://github.com/rainlab/builder-plugin/issues/new) and we'll be happy to investigate.

[2019-08-15 15:45] anthonymccourt commented on #283
I'll do that, no problem.
The edge updates fixes the hanging issue but not the delete table issue.
Should I report the migration rollback issue considering it may not be
related to October?

On Thu, 15 Aug 2019 at 16:41, Ben Thomson <notifications@github.com> wrote:

[2019-08-15 15:48] LukeTowers commented on #283
Might as well @anthonymccourt

[2019-08-15 15:48] #283 closed

[2019-08-15 15:48] bennothommo commented on #283
@anthonymccourt Might as well report it - if you can do some testing of that scenario too, that would be super helpful. I've done rollbacks in the Builder plugin before without issue so it could be specific to the migrations you've got.

[2019-08-15 16:02] anthonymccourt opened #294 "Error message upon successfully deleting table through Builder GUI"
When deleting a table through the Builder GUI, October throws a message that it can't find the table after it successfully deletes it.

Details -
When deleting a table the window for 'Save and Apply / Cancel' is overridden by this error message after pressing 'Save and Apply'. After dismissing the error message, the original 'Save and Apply / Cancel' window remains. However, pressing 'Cancel' at t

[2019-08-15 16:36] anthonymccourt commented on #283
I've submitted the delete table issue. I'll do more testing on the
migrations before submitting anything for that.

The migration rollbacks have always been hit and miss for me so I tend to
only migrate forward and rollback only for testing.

I'm unsure of the merits of the rollback functionality in the first place,
even if only for developing.
I'd rather have an option to take a snapshot of the d

[2019-08-15 22:58] LukeTowers commented on #283
from prefixing table names with the plugin and author name?

@anthonymccourt I don't really want to support no prefix period, it's a standard in October to have all plugin tables prefixed. That would be more of an issue of choosing a shorter author or plugin name and being more succinct in your naming of tables.

[2019-08-16 08:33] anthonymccourt commented on #283
Okay, good to know.

On Thu, 15 Aug 2019 at 23:58, Luke Towers <notifications@github.com> wrote:

[2019-08-18 20:25] mabehiry opened #295 "Unknown column type "double" requested"
I get this error when clicking  save button:
Unknown column type "double" requested. Any Doctrine type that you use has to be registered with \Doctrine\DBAL\Types\Type::addType(). You can get a list of all the known types with \Doctrine\DBAL\Types\Type::getTypesMap(). If this error occurs during database introspection then you might have forgot to register all database types for a Doctrine Type. U

[2019-08-19 15:26] bennothommo commented on #295
@mabehiry thanks for the report. Would you mind letting me know which type of database server are you running?

[2019-08-20 12:06] mabehiry commented on #295
Hello,
Database server is:
MariaDB 10.3.16
Thank you

[2019-08-21 15:01] bennothommo commented on #295
@mabehiry I have run the same migration on a test server with MariaDB 10.3 and did not encounter any issues. Would you be able to confirm which version of October you are running, and which version of `doctrine/dbal` is installed in Composer if you installed that way? Also, please confirm that you have not got any plugins or additions manipulating the available column types in Doctrine\DBAL.

[2019-08-22 08:50] #294 closed

[2019-08-22 09:10] bennothommo commented on #294
This has been fixed as of https://github.com/rainlab/builder-plugin/commit/1f8c5abb30f4f00d4b06dd88751c02577815dc9f and has been released with v1.0.26 of the Builder plugin.

[2019-08-22 09:30] bennothommo commented on #272
@paishin Partials generally don't have labels, as they are used mainly for miscellaneous content. You can see this standard in the docs: https://octobercms.com/docs/backend/forms#field-partial

[2019-08-22 09:38] mkinternet opened #296 "Add index column to table builder."
I table builder i miss feature to add index column. There could be column with index and dropdown list for each created field in table containing options:
- primary key $table->primary('id');
- unique key $table->unique('field');
- index key $table->index('field');

[2019-08-22 10:32] mkinternet commented on #211
Maybe instead of consolidate migrations file you can add option to create one migration file from created tables or create one migration file per table and clear created migration file?

[2019-08-22 11:19] LukeTowers commented on #272
@bennothommo It's reasonable for partials to have labels, after all they do support them. I know I've used partials with labels before, specifically for scoreboard type fields.

[2019-08-23 06:49] paishin commented on #272
I also use labels with partials, for example when the partial contains an
input field, but I have to manually add the label tag directly to yaml file
since october's interface does not have it (but does work). Whats really
annoying is that when I make changes to the form october removes the
manually entered label. So I either have to go and add them again through
yaml or not use the builders inter

[2019-08-23 12:00] mabehiry commented on #295
Hello,
I'm running on build 455, I didn't install doctrine/dbal manually. I'm running  on local machine with xampp server. there are no plugins installed except those:
Uploader - Builder - Blog + my  plugin
Also, default value for most columns  are set automatically to NULL as shown  here

![image](https://user-images.githubusercontent.com/33180080/63590957-100f9380-c5cb-11e9-9726-42f41a564d7f.png

[2019-08-23 13:27] marcelboere opened #297 "Undefined index: primary_key (FIXED)"
When your database form contains too many characters a dialog pops up on save saying: Undefined index: primary_key. This is a very confusing Error message. From the php logs it becomes clear this is due to the fact that php variable max_input_vars has been set too low. You should increase the value in php.ini.
It would be convenient if the plugin checks max_input_vars against the number of vars in

[2019-08-23 15:56] bennothommo commented on #297
@marcelboere If you feel there is a good way to warn users in the circumstance that the `max_input_vars` PHP setting is too low, please feel free to submit a PR of your proposed change.

[2019-08-24 16:55] LukeTowers commented on #272
@paishin just remove https://github.com/rainlab/builder-plugin/blob/master/classes/StandardControlsRegistry.php#L354, test and submit a PR when you can confirm that it's working and we can merge it.

[2019-08-25 07:32] bennothommo commented on #296
@mkinternet I think an "Indexes" tab that allows the control of indexes would be a good idea. Indexes can be compound (ie. contain more than one column in the index) and as you pointed out, can be different types of index (ie. primary, unique, fulltext), so it probably should belong to its own tab.

[2019-08-25 12:57] LukeTowers commented on #296
I'm not sure this is worth the effort to make a GUI for given that you can always manually edit the migration in the code editor before it is run to add whatever indexes you want.

[2019-08-25 13:29] bennothommo commented on #296
True, but I reckon it'd be very appealing to be able to sort out the indexes and the schema in one swoop. I'm keen to give this a try down the line.

[2019-08-27 10:56] mkinternet commented on #296
OMG i did't realised that popup window with migration file is editable :D. I think you can place hint in this popup window containing text "You can edit migration file before saving it"

[2019-08-27 13:32] bennothommo commented on #296
@mkinternet Happy to accept a PR with that hint added if you're willing to submit one. :)

[2019-08-27 18:42] ghost opened #298 "Would it be a good idea to do this in builder for checkbox fields"
Currently we have this:

![image](https://user-images.githubusercontent.com/17784082/63798533-2cc90580-c902-11e9-9ac7-beea3a1ad7ed.png)

I'm suggesting to add a small bit of code to do the following:

## Checkbox field (checked)

![image](https://user-images.githubusercontent.com/17784082/63798710-7ade0900-c902-11e9-9ee0-ab41e697c55a.png)

## Checkbox field (unchecked)

![image](https://user-image

[2019-08-28 20:20] paishin commented on #272
I have tried performing the above change, the issue is that label is a "required" attribute in builder. So when I remove it from ignored properties then all partials that do not have a label display a "Please specify the control label" error.

To make this work label needs to be optional for the 'partial' widget.

![image](https://user-images.githubusercontent.com/410381/63889317-6f194200-c9e9-11e

[2019-08-29 00:54] LukeTowers commented on #272
@bennothommo what do you think about removing the required validation rule for the label? https://github.com/rainlab/builder-plugin/blob/master/classes/ControlLibrary.php#L118 Technically speaking none of the fields (except for section perhaps) need a label specified, they all work without one. I often will put fields with no labels as the only occupant of tabs using the tab's label to be the labe

[2019-08-29 01:33] bennothommo commented on #272
@LukeTowers agreed - it shouldn't be required. Apparently the section fields label is optional too according to the docs - https://octobercms.com/docs/backend/forms#field-section.

[2019-08-29 04:33] LukeTowers commented on #272
Huh, I wonder what that looks like. @paishin feel free to make the label not required anymore as well and make a single PR for both changes

[2019-08-29 05:31] bennothommo commented on #272
@LukeTowers @paishin One thing to note - the label is used for identifying the field in the form designer in the Builder plugin. If it is removed, there's no way of indicating which field is which in the form designer.

[2019-08-29 20:00] LukeTowers commented on #272
@bennothommo we could make it so that it also shows the name of the field in the form designer

[2019-09-02 18:04] ayumihamsaki commented on #298
[code]

[2019-09-02 18:40] ayumihamsaki commented on #298
@LukeTowers Any reason why these two code lines are `==` and not `===` ?

https://github.com/rainlab/builder-plugin/blob/375be385752c475f5bc84baf9589f6d243c2209f/formwidgets/formbuilder/assets/js/formbuilder.js#L155

Can I change it to this:

[code]

https://github.com/rainlab/builder-plugin/blob/375be385752c475f5bc84baf9589f6d243c2209f/formwidgets/formbuilder/assets/js/formbuilder.js#L160

[code]

[2019-09-02 18:44] LukeTowers commented on #298
go for it.

[2019-09-03 23:22] ayumihamsaki commented on #298
Ok all done - enjoy!

[2019-09-05 11:32] janvandelaar commented on #295
I have the same problem, also on a local machine, using Xampp 3.2.4
When I create a field named 'created_at' and choose Date and Time as a type, it gets saved as 'Timestamp'. This way I can't use the reorder functions for my  backend lists.

[2019-10-09 13:28] tok3 commented on #151
Unfortunately this is not working for me. I have a model built with builder plugin and added timestamps. To set `public $timestamps = true` takes no effect.
The Model Event like described above is only fireing when I use elequents `updateOrCreate`-Method. But in this case its better to use `beforeCreate` and `beforeSave`- event to ensure that crated_at is only set once.

[code]

[2019-10-09 21:25] multiwebinc opened #302 "Consider using a different DatePicker"
Even though [Pikaday](https://github.com/Pikaday/Pikaday) is lightweight, it is [unmaintained](https://github.com/Pikaday/Pikaday/pulls), [full of bugs](https://github.com/Pikaday/Pikaday/issues), and the latest commit was over 11 months ago. Maybe you should consider using something else.

[2019-10-09 21:27] multiwebinc commented on #302
Whoops, wrong repository.

[2019-10-09 21:27] #302 closed

[2019-10-14 23:02] multiwebinc opened #303 "Provide documentation on how to register a custom widget with the Builder plugin"
See https://github.com/octobercms/october/issues/3666 for reference.

It doesn't appear that the plugin description is on Github. I'm guessing you need to manually update it on the plugins repository on the October website.

How is this for a start?

Adding a custom widget
-

To add a custom widget to the Builder plugin, you must first [register a backend form widget](https://octobercms.com/docs/b

[2019-10-14 23:15] LukeTowers commented on #303
@multiwebinc added it to the plugin documentation section on the marketplace, thanks!

[2019-10-14 23:15] #303 closed

[2019-10-15 05:52] multiwebinc commented on #303
@LukeTowers Double check it. It got HTML encoded.

[2019-10-15 10:15] trepmag commented on #281
Hello @bennothommo, to make appear a table from an external database (database referenced by a subsequent key in config/database.php/connections) what should be done beside prefixing the table with `author_pluginname_`?

[2019-10-15 16:39] LukeTowers commented on #281
@trepmag I don't think we're going to support trying to use the builder plugin with external database connections. The builder plugin is a development tool, so you should never be using it in a production environment (which is where you would theoretically be needing to reference external database connections).

[2019-10-15 16:43] LukeTowers commented on #303
@multiwebinc that's a known bug with the marketplace, it's super irritating but I can't do anything about it.

[2019-10-15 17:29] multiwebinc commented on #303
@LukeTowers Wow. That's just terrible... You'd think the fix for something like that would be relatively trivial.

[2019-10-15 21:40] LukeTowers commented on #303
You'd think, but I don't have access to the marketplace code base. Only @daftspunk and @alekseybobkov have access.

[2019-10-16 07:31] trepmag commented on #281
@LukeTowers thanks for answering... Now I'm not sure to what here 'external database' refers to but I wasn't meaning of a "production only database" but only a database that exists beside the default one (still available in production) and which can be accessed with by its setting key (https://octobercms.com/docs/database/basics#accessing-connections).

[2019-10-16 08:41] bennothommo commented on #281
@trepmag We only support the "default" connection when using the Builder plugin. There's no facility to allow creating models through the Builder that are stored in a different connection. You can of course manually configure the model to use another connection, but I believe it will no longer be modifiable through the Builder plugin.

[2019-10-17 14:29] trepmag commented on #281
@bennothommo ok, then I've manually created the models to be mapped to an alternate database connection and they correctly appear in the builder UI which allows to follow the usage of Forms fields, Lists fields, Controller, etc, ... Great ;-)!

[2019-10-22 12:13] semasping opened #305 "Error on creating new plugin or setup default name and namespace"
"Undefined offset: 1" on line 2619 .../vendor/laravel/framework/src/Illuminate/Validation/Validator.php

Builder v1.0.26

OctoberCMS v1.0.459

[2019-10-22 13:08] #305 closed

[2019-10-22 18:28] LukeTowers commented on #305
@semasping what was the issue?

[2019-10-22 18:35] semasping commented on #305
The outdated version of octoberCMS due to php version 5.6 in the console.

[2019-10-28 13:46] setianke opened #307 "Syntax Error on creating pivot table"
Hi,

I am trying to create a pivot table with the plugin for a $belongsToMany relation of a company id to a category id but getting following error when trying to assign primary key for company_id and category_id:

`SQLSTATE[42000]: Syntax error or access violation: 1059 Identifier name 'namespaceauthor_directory_company_category_pivot_company_id_category_id_primary' is too long (SQL: alter table

[2019-10-28 14:21] bennothommo commented on #307
@setianke You can define the index name as the second argument in the `primary()` method call, so you can call it something much shorter if you wish.

[2019-10-28 14:21] #307 closed

[2019-10-29 17:30] blackxel commented on #220
I added this in the boot method of my plugin

[code]

[2019-10-29 21:01] LukeTowers commented on #220
Ah yes, @blackxel I'd forgotten about that. October always blows my mind with how extensible it is.

[2019-10-31 13:10] martendej commented on #165
I'd like to re-open this issue, as I think being able to collapse repeater fields by default is not so much an enhancement but a necessity at times when using many fields within the repeater. I have encountered this quite a few times now. Ideas?

[2019-10-31 13:59] webbati opened #308 "Add unexpected quote on custom switch text"
Customizing the switch text with the on and off parameters in the file fields.yaml when you modify the form via the builder adds quotation marks in an unexpected way

[code]

[2019-10-31 18:42] LukeTowers commented on #308
Not sure what the issue is, they both are valid YAML are they not?

[2019-10-31 18:44] LukeTowers commented on #165
@martendej could you post some gifs or screenshots demonstrating the issue?

[2019-11-04 09:31] webbati commented on #308
Property names should not have quotes and only the second value has them

[code]

it should be so

[code]

or at least

[code]

I'm wrong?

[2019-11-05 20:49] LukeTowers commented on #308
It looks cleaner that way I agree, but from a technical standpoint I'm pretty sure all those examples are valid YAML. Feel free to submit a PR to fix that though.

[2019-11-09 23:11] webbati commented on #308
The quotes on the 'yes' and 'no' labels are there because they are part of some reserved yaml words so they must be enclosed between being to be read correctly. I did not know (see: https://yaml.org/type/bool.html )

But i can submit a PR to add on/off custom labels options available on the switch widget.

[2019-11-12 11:30] tsyvs opened #311 "Invalid length value of Big Integer in ID column when using MySQL"
Builder shows Big Integer length 10 instead of real 20 (Builder UI)

![Screenshot from 2019-11-12 13-02-19](https://user-images.githubusercontent.com/4626977/68666554-cc368580-054c-11ea-8147-effe331399f4.png)

But real MySQL data structure is generated as desired (PhpMyAdmin)

![Screenshot from 2019-11-12 13-09-43](https://user-images.githubusercontent.com/4626977/68668259-7532af80-0550-11ea-890d-

[2019-12-08 22:13] jcbbuller opened #313 "Order Error - Implement the NestedTree or Sortable traits."
I have my fields set so they can be reordered and my controller has reordering capabilities, but when I click the reorder button when accessing the custom plugin I built using RainLab Bulder, I get an error page with the following:

"The model must implement the NestedTree or Sortable traits. /Users/jacobbuller/Desktop/Sites/bullernotbuellercms/modules/backend/Behaviors/ReorderController.php line

[2019-12-09 05:00] jcbbuller commented on #313
So I did a little research and added use \October\Rain\Database\Traits\Sortable; to the extended model of my plugin, but now I'm getting an "Unknown column 'sort_order' in 'order clause'" error when I click the reorder button.

Any solutions?

[2019-12-09 07:06] bennothommo commented on #313
@jcbbuller You need to add a `sort_order` column to the database table that your model uses. That's how the `Sortable` trait keeps track of item ordering :)

[2019-12-09 15:11] faselunare commented on #295
Hi same problem here with timestamp type
i have created a simple plugin with the builder (just for test this issue that i have discovered in one of my plugins)
[code]
when i try to modify the table (adding a new integer field         $table->integer('weight')->nullable(); )
i get the doctrine error

i'm on October 460
Mysql Ver 15.1 Distrib 10.3.17-MariaDB, for debian-linux-gnueabihf (armv7l) usin

[2019-12-10 02:19] jcbbuller commented on #313
That worked! You'd think the plugin would add sort_order automatically when I select ordering as an option when building the plugin. I added sort_order and set it as an integer and set the default value to null. Works now! Thanks!

[2019-12-10 02:24] bennothommo commented on #313
@jcbbuller That's a fair point. We'll take the suggestion under advisement. :)

[2019-12-10 02:24] #313 closed

[2019-12-10 06:22] jcbbuller opened #314 ":id not added automatically to details url"
I noticed when I created a single page using the Records Details component it didn't automatically add the identifier value to the url integer in the .htm file. Instead of url="/movies-page/:id" it just had url="/movie-page". I had to go in and manually add it to the file. Any reason why this might be?

[2019-12-10 18:24] LukeTowers commented on #314
Adding components to pages shouldn't modify the page's URLs automatically. Any reason why you thought it should?

[2019-12-10 18:24] LukeTowers commented on #314
FYI, not being sarcastic, legitimately curious 😄

[2019-12-16 14:49] ayumi-cloud opened #315 "Make the Inspector popup resizable by the user"
Firstly, thank you to Luke who will correct my title! haha.

I will try to explain the problem I'm seeing.

Take the following screenshot example:

![image](https://user-images.githubusercontent.com/57409060/70916032-dc8dc480-2012-11ea-94b0-24380de253c1.png)

Make the container re-sizable, like this gif:

![ezgif-5-656dc8473f7b](https://user-images.githubusercontent.com/57409060/70916145-18288e80-

[2019-12-16 15:01] ayumi-cloud commented on #315
I see it's a jQuery UI feature: https://jqueryui.com/resizable/

[2019-12-16 15:13] ayumi-cloud commented on #315
I see it's a jQuery UI feature: https://jqueryui.com/resizable/

Vanilla JS and Pure CSS (Not working in IE11): https://stackoverflow.com/questions/8960193/how-to-make-html-element-resizable-using-pure-javascript

[code]

When I try to add the above css code and click on the resize the container keeps closing due to the javascript code.

[2019-12-16 15:54] LukeTowers commented on #315
This is something that would have to be done in the core. I don't mind it as long as it's a proper progressive enhancement that only shows up on browsers that would support it and doesn't break any existing uses of it.

[2019-12-22 06:31] jcbbuller opened #316 "Code editor outputs with quotes"
Hello, I'm using the Code Editor form for input using this plugin. When I try and get the output of the code I input into the form it comes out with quotes around it, so it renders at text instead of actual code. Does anyone know how to pull just the code?

I have this entered into the code editor:
[code]
This is what I have on my frontend to render it(the field is project_title):
          {% if

[2019-12-22 18:43] LukeTowers commented on #316
@jcbbuller You need to use the `| raw` filter to prevent Twig from escaping the output: `{{ record.project_title | raw }}`

[2019-12-22 18:43] #316 closed

[2019-12-26 00:59] jcbbuller opened #317 "Reorder feature doesn't show plugin list fields, just hamburgers."
I'm having an issue with the plugin not showing the title of each element when I go to the Reorder tab.

I've created a sort_order field in the database and it works on the front end, as far as changing the numerical value in that field will adjust the hierarchy of elements on the site. But when I access the database using the Builder plugin and navigate to Reorder Records I see three hamburgers a

[2019-12-26 03:38] mjauvin commented on #317
Did you properly set "nameFrom" as explained here in the docs? https://octobercms.com/docs/backend/reorder#configuring-reorder

[2020-01-07 15:21] albanoalfredo commented on #295
Having the same issue with a timestamp.  Where you able to solve it?
PHP version: 7.3.6
Server version: 10.3.21-MariaDB - MariaDB Server

[2020-01-14 22:36] LukeTowers commented on #165
Will be implemented in https://github.com/octobercms/october/pull/4877

[2020-01-21 01:55] jcbbuller commented on #317
That worked, for the record everyone, you have to put the title of the field name after nameFrom. The one shown on the October's site says nameFrom: title. But since in my database it was feature_title, I had to add nameFrom: feature_title to the config_reorder.yaml. The config_reorder.yaml file can be found in your custom plugin controllers folder.

[2020-01-21 01:55] #317 closed

[2020-01-31 03:01] ClickerMonkey opened #318 "Custom types (looking to contribute)"
I'm looking to update this plugin so you can add custom types. The end goal is so I can create a plugin (or maybe it could be a part of this plugin if you guys thinks it's a good idea) for GIS types, functions, inputs, components, etc.

Would you guys be open to this?

If so, should I make everything extendable by using Events, specific functions added to the plugin, or modify the code of this plu

[2020-01-31 08:04] Athov commented on #295
I have the same issue it comes from the default value been set to 'null' instead of null (adding quotes) . The funny thing is that I have multiple octobers and only on few of them (the newest) this happen. All octobers are version 464 but the new are upgraded from 454 and the old are from 43x(maybe 434 not sure).
![image](https://user-images.githubusercontent.com/8526043/73522213-7f0dd580-4410-11e

[2020-01-31 17:50] LukeTowers commented on #318
@ClickerMonkey could you provide more information on what exactly you mean by "custom types"? This plugin already has a few events that allow you to do things like add support for custom formwidgets

[2020-01-31 18:05] ClickerMonkey commented on #318
[code]

The end goal is to allow other database types - there are points, shapes, arrays, objects, etc.

https://www.doctrine-project.org/api/dbal/2.9/Doctrine/DBAL/Types/Type.html

formwidgets are only for taking input on the existing defined data types - I want to add data types not currently defined in the Builder plugin.

[2020-01-31 18:13] LukeTowers commented on #318
@bennothommo any thoughts on this?

[2020-02-02 01:25] #165 closed

[2020-02-04 02:32] bennothommo commented on #318
@ClickerMonkey I'd be happy to hear your proposal on the events that would be needed to make this more extendable, but I don't think we'd be able to accept custom field types being added directly into the plugin.

It's my understanding that once you start dealing with geometric data in databases, it's where all the supported database server types start to massively diverge (ie. MySQL supports them

[2020-02-04 02:37] bennothommo commented on #295
@faselunare @albanoalfredo Are both of you using XAMPP for development? The only common thread I've seen so far from all reports on this issue have been that people are using XAMPP with MariaDB.

[2020-02-04 02:41] bennothommo commented on #295
@Athov would you be able to check in a different program what the default value for those fields are? `'null'` (with quotes) is only used to define "null" as a string as a default value for a field. It was done as part of the changes here - https://github.com/rainlab/builder-plugin/pull/291. It's possible if you had entered `NULL` in an older version of the Builder plugin (ie. before 1.0.26), thos

[2020-02-04 02:42] bennothommo commented on #314
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2020-02-04 02:42] #314 closed

[2020-02-04 02:49] bennothommo commented on #226
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2020-02-04 02:49] #226 closed

[2020-02-10 10:17] cosminbosutar commented on #295
Hi,
I have the same problem as in the title, when I try to update a table that contains a double i receive the same error message popup.
I use laradock with nginx and mysql for local development:
  PHP 7.3.13
  Server type: MySQL
  Server version: 8.0.19 - MySQL Community Server - GPL

[2020-02-17 22:54] reunior opened #319 "Updating Table problem, 'null' default value (only on Windows- mariadb)"
When i try to add/remove/update some field from Builder -> Database I get error, because my default  nullable value is string null ( **'null'** ) not just **null**.  And i get error for fields that is not string (exp. _Invalid default value for the integer column 'temp_old_id'. The allowed formats are '10', '-10'._)
This only happens on windows os, linux working fine.
When i try to change from **'

[2020-02-19 17:21] reunior commented on #319
![image](https://user-images.githubusercontent.com/49398361/74857875-a76c5e00-5344-11ea-8ea9-cac88304713b.png)

[2020-02-19 23:17] albanoalfredo commented on #295
Hi,
I'm not using xampp.I have it installed on two separated servers, it only happens on the one that has mariaDB.I was able to "solve" it by cleaning up the migration table when I save the table.

I have to delete all the additional lines it tries to create when updating (selected on the screenshot below)

![image](https://user-images.githubusercontent.com/38056345/74885582-d77c2700-536d-11ea-924

[2020-02-20 02:04] bennothommo commented on #295
@cosminbosutar @albanoalfredo Thanks for the further reports. I will investigate this further and get back to you.

[2020-02-20 02:05] bennothommo commented on #319
@reunior This is the same issue as reported in some comments here: #295. I will take a look at this along with the initial issue in that report.

[2020-02-22 20:51] reunior commented on #319
Ok, great. Thanks

[2020-02-25 12:45] Athov commented on #295
No All values are true NULL and not text in the newer version it tries to set the default('null') when trying to UPDATE the tables but I always have to manually clean it.

we are not using xampp or anything of the sort it's a linux server with nginx, php and mariadb, but the problem is not from them because for the dev server we have the same nginx,php and mariadb running for multiple projects and

[2020-02-26 03:22] bennothommo commented on #295
@Athov does your operating system on your dev servers use different quotation mark symbols? That's probably the last thing I can think of that might be causing this.

[2020-02-29 13:13] igor-tv opened #320 "Instead of Timestamp, the Builder creates a Date and Time column type"
Also, if you try to change the column type from Date and Time to Timestamp, after saving it displays the message "There are no changes to save".

Apache
PHP Version 7.4.1
MySQL 5.7.26

[2020-03-02 19:18] dathwa opened #321 "New "Roles" spec is getting stripped"
Hi Guys. Seems it's not possible to add ROLES to permissions. See `https://octobercms.com/docs/backend/users`.
If I manually add roles, e.g.
`permissions:
    acme.events.manage_events:
        tab: Events
        label: 'Manage Events'
        roles:
            - 'xxx'
            - 'publisher'`
the edit gets over-written next time i edit the permissions.
If I delete permissions in the yaml, and

[2020-03-04 01:09] bennothommo commented on #320
@igor-tv The `TIMESTAMP` column type in MySQL is basically an alias of `DATETIME`. If you want to store UNIX timestamps, you should generally use an `INT` column.

See here: https://dev.mysql.com/doc/refman/8.0/en/datetime.html

[2020-03-04 01:09] #320 closed

[2020-03-04 20:13] LukeTowers commented on #321
@bennothommo this should just be an edit to widget's configuration to allow the roles property through correct?

[2020-03-04 22:46] faselunare commented on #319
Hi, this problem (same of the #295) occur also on linux (my dev env is on raspberry)

PHP 7.3.11-1~deb10u1 (cli) (built: Oct 26 2019 14:14:18) ( NTS )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.3.11, Copyright (c) 1998-2018 Zend Technologies
with Zend OPcache v7.3.11-1~deb10u1, Copyright (c) 1999-2018, by Zend Technologies

DB: 10.3.17-MariaDB-0+deb10u1 Raspbian 10

OctoberCms Build 465

[2020-03-04 23:59] bennothommo commented on #321
@LukeTowers possibly - will take a look soon.

[2020-03-12 11:31] Athov commented on #295
I think I found the problem we moved the "bug free" the project to another server running mariadb and it happen to it as well so it's maybe mariadb or something on the server
the OS is Debian

[2020-03-17 14:01] faselunare commented on #295
@bennothommo no Xampp
just php and maria db installed on top of Raspbian (all softwre updated to the latest version)

[2020-03-18 19:58] pittss commented on #319
Hi, try this plugin https://octobercms.com/plugin/cubecamp-doctrine , may be help you

[2020-03-18 19:58] pittss commented on #295
Hi, try this plugin https://octobercms.com/plugin/cubecamp-doctrine , may be help you

[2020-03-18 21:58] faselunare commented on #319
hi @pittss, I did a quick test, it seems to work!
Thank you

[2020-03-19 02:50] LukeTowers commented on #295
@bennothommo can we use what that plugin does to fix the issue in the builder plugin itself?

[2020-03-19 04:03] bennothommo commented on #295
@LukeTowers looks like it just brings in another Composer library to add support and registers a provider.

@pittss Would you have any problems if we merge this in with the Builder plugin?

[2020-03-19 04:43] pittss commented on #295
@bennothommo No problem. Once the problem is solved, I'll remove the plugin from the marketplace.

[2020-03-20 19:18] reunior commented on #319
Great, thank you!

@bennothommo use this fix(plugin) to solve this problem!

[2020-03-20 19:18] #319 closed

[2020-04-06 14:23] bennothommo opened #324 "Support for "titleFrom" and "style" attributes in repeater widgets missing"
Reported by forum user **guglielmana34864** here: https://octobercms.com/forum/post/style-collapsed-via-builder?page=1#post-30752

[2020-04-08 08:12] ivang76 opened #325 "Support for "nestedform" type"
Actually it's possible to group fields of the forms only with the repeater (maybe setting to max 1 item) but this needs a cta from the user to "add new item" to open and show the fields. Not so nice from a UI point of view, in particulary on complex multisection backend interfaces.

It seems the only form widget of October not yet implemented in OctoberCms is the "**nestedform**", so as adviced by

[2020-04-08 08:52] Eoler commented on #325
You have recently added `minItems` option for nicer UX:
https://octobercms.com/docs/backend/forms#widget-repeater

[2020-04-08 13:30] ivang76 commented on #325
That's a nice tips @Eoler, thanks, but unfortunately doesn't work if you have multiple repeaters nested the main one and that are activated by triggering states

[2020-04-09 02:34] bennothommo commented on #325
@ivang76 Nested form might be a difficult one to pull off in the context of the Builder plugin - it requires the user to have written a form config to load with the nested form. While that's indeed possible - from a UI perspective, I'd assume people would want to see the fields of the nested form visible in the "preview" of the form.

Would you be willing to provide a PR for it?

[2020-04-09 12:11] ivang76 commented on #325
ok I understand... well, I'll try to make some tests and if will find a good way I'll open a PR

[2020-04-09 14:22] bennothommo commented on #325
@ivang76 Awesome! Let me know if you need any assistance.

[2020-04-09 16:20] LukeTowers commented on #325
@bennothommo can't we reuse a bit of the existing code for repeater support? That doesn't require a separate config to exist, and technically neither does the nested form.

[2020-04-09 17:04] bennothommo commented on #325
@LukeTowers I'd imagine so - but I haven't really delved into that side of the code too deeply yet.

[2020-04-15 14:52] ivang76 commented on #324
Hi @bennothommo, I'm wondering if you have a timeline about this fix.
Thank you

[2020-04-17 04:21] bennothommo commented on #318
Closing as it has been over a month since any activity on this occurred and we are trying to figure out what issues are still relevant. If this is still something that you would like to see through to fruition please respond and we can get the ball rolling.

[2020-04-17 04:21] #318 closed

[2020-04-17 16:03] #324 closed

[2020-04-17 16:31] bennothommo commented on #324
@ivang76 The fix is now deployed, and will be released with version 1.0.27 of the Builder plugin. This will hopefully be out in the next couple of days.

[2020-04-17 21:20] ivang76 commented on #324
perfect, thank you Ben!

[2020-04-23 15:16] webkotlas opened #326 "Error in parsing model builder options:true. Field: Tag List"
**storm-min.js?v=465:5499 Uncaught Error: The string list value should be an array. Property: options at StringListEditor.BaseEditor.throwError ...**

From the documentation:
https://octobercms.com/docs/backend/forms#widget-taglist

Please correct the model validation for fields.yaml. After setting the options to true, the model builder stops working.

[2020-04-24 06:02] bennothommo commented on #326
@maxim-web-dev would you be able to provide us with more info - was this when you had created the tag list for the first time, or edited afterwards? Would you be able to clarify the steps you took for the error to occur?

[2020-04-24 07:18] maxim-web-dev commented on #326
In the video, I showed when an error occurs:
https://youtu.be/0zS3ft86Z_I

[2020-04-27 02:34] bennothommo commented on #326
@maxim-web-dev Thanks for that - so it happened with an already-created form with a taglist widget. Would you be able to show us what was saved in the `models/product/fields.yaml` file by the Builder plugin?

[2020-04-27 09:17] maxim-web-dev commented on #326
@bennothommo It normally saves the file if you do not click on the sheet tag settings.
`    fields:
        city_id:
            label: 'Cities'
            mode: array
            separator: comma
            customTags: 0
            options: true
            useKey: 1
            span: auto
            type: taglist`

[2020-05-01 16:07] MattMcManis opened #327 "Add New Column - Invalid default value for the integer column"
I built an OctoberCMS site on a Local VirtualBox LAMP server and moved it and the MySQL database to A2 Shared Hosting.

---

### Error

The live site is working fine, but when I use the Builder plugin to add a new database column and save, I get the error:
[code]
But the value is `10`.

![database](https://i.stack.imgur.com/bNLfi.png)

![error](https://i.stack.imgur.com/XRRhR.png)

---

### Server

[2020-05-01 18:27] LukeTowers commented on #327
Set the default value of the sort_order column to 0.

[2020-05-01 18:27] #327 closed

[2020-05-01 19:14] MattMcManis opened #328 "Unknown column type "timestamp" requested"
Relating to my previous issue https://github.com/rainlab/builder-plugin/issues/327

Unchecking `sort_order` `nullable` and setting `default` to `0` or `blank` allows for save.

But when trying to add, change, or update any other tables through the Builder Plugin, I get an error about Timestamps.

![Timestamps](https://i.imgur.com/ti30XTM.png)

![Database](https://i.imgur.com/XjrNWN2.png)

[2020-05-04 01:47] bennothommo commented on #295
Hi all,

I have released some changes as part of #329 in order to fix the above issues. Would I be able to ask people to test these out on their development instances of October and let me know if it resolves the issues for you?

You may need to check out the plugin via Composer in order to test this out.

[2020-05-04 01:48] bennothommo commented on #328
Hi @MattMcManis

I have released some changes as part of #329 in order to fix this issue. Would I be able to ask you to test these out on your development instance of October and let me know if it resolves the issue for you?

You may need to check out the plugin via Composer in order to test this out.

[2020-05-05 18:11] MattMcManis commented on #328
@bennothommo

What is the best way to update with this patch?

Should I copy over the new files manually?

[2020-05-05 21:53] Incremental92 opened #330 "Preload a field with User profile info ?"
Hello, in a Builder form, how is it possible to pre-load a "user name" field with the logged user info given by the User Plugin ?
Is this User info accessible from anywhere in October and how ?
Thanks

[2020-05-06 05:33] bennothommo commented on #330
@Incremental92 that's outside the scope of the Builder plugin. You would want to use the `form.extendFields` event in a plugin to set the default value to be the username of the currently logged-in user.

[2020-05-06 05:33] #330 closed

[2020-05-20 16:45] Incremental92 commented on #330
Thanks a lot !

[2020-06-04 08:33] bennothommo commented on #328
@MattMcManis apologies, I completely missed your reply. Yes, you should be able to copy over the files from that PR over the Builder plugin files in your October CMS install. You will need to then run `composer update` in your October CMS install to get it to download the necessary library that the fix uses.

[2020-06-06 21:32] kevinamezaga commented on #328
Has this been tested and/or fixed? Having the same issue with MySQL.

[2020-06-06 23:01] kevinamezaga commented on #328
Also getting the following error with the timestamps
`Unknown column type "timestamp" requested. Any Doctrine type that you use has to be registered with \Doctrine\DBAL\Types\Type::addType(). You can get a list of all the known types with \Doctrine\DBAL\Types\Type::getTypesMap(). If this error occurs during database introspection then you might have forgot to register all database types for a Doct

[2020-06-17 20:48] #155 closed

[2020-06-17 21:31] LukeTowers commented on #155
@CptMeatball why'd you close this?

[2020-07-17 17:49] DivineHeir opened #331 "recording list pagination can't changed from ascending to descending - Error"
I built a blog plugin using builder plugin. I would like to have my latest post appeared the first page.
in the octobercms backend, there has been an error popped out. It has been happening whenever I tried to change some settings. Every time, I logged into cpanel to change the text editor coding. How to do that in the text editor to change that ? which folder ? Thank you

[2020-07-17 21:22] LukeTowers commented on #331
What is the error?

[2020-07-21 10:54] DivineHeir commented on #331
I made a blog plugin. Under the webpage of the octobercms backend, on the “record list” box, I would like to change the pagination sorting from Ascending to Descending. I would like to put my latest post on the first page instead of putting it as the last.

When I changed sorting from “ascending” to “descending” and tried to click “save”.
It will always pop out the box, after I clicked “ok”, the s

[2020-07-21 16:19] LukeTowers commented on #331
Please provide a screen recording of the issue.

[2020-07-28 06:53] DivineHeir commented on #331
Sorry. Luke

I have tried sending a 15mb video for you. But it has been failed to be sent.
On 27 Jul 2020, 12:37 PM +0800, Alexis Teo <greenearthheir@gmail.com>, wrote:

[2020-07-28 17:43] LukeTowers commented on #331
@DivineHeir try uploading to a service like youtube or dropbox or google drive and then provide the link.

[2020-08-05 18:40] mskraban opened #333 "Display record without url parameter"
I'm wondering if it's possible to display builder record on my landing page without passing url parameters (because it's landing page). I have column called published, that is linked to switch. If switch is true, then that record would be displayed.

**So it's maybe possible to display record details if database column parameter is active, or should I use record list for this case?**

[2020-08-05 18:52] iMateo commented on #333
You can use Record list with "published = true" filter as simplest solution for your case.
Or you may spend several hours to learn how to work with Laravel Models and Eloquent :)

[2020-08-05 19:34] #333 closed

[2020-08-12 09:47] AdrianoRamalho21 opened #335 "Builder Form - change between form configuration files"
Hey guys,

Here's the deal, I have a Model called "Pages", and I wanna have multiple and distinct forms PER Page, I wanna have the homepage.yaml form config file for the Homepage page, I wanna have the about.yaml form config file for the About page, for example...

The default form file is "fields.yaml", and I wanna show a list of all those .yaml files so the user can select which file (form layou

[2020-08-12 15:57] LukeTowers commented on #335
This isn't really a question specific to the builder plugin, more so just about extending October in general. The easiest way of doing this would be to implement custom model fields.yaml files per context in the config_form.yaml, and then implement actions to handle those contexts and just link to those actions.

Another way you could handle it is by having a dropdown in your list toolbar on your

[2020-08-12 15:57] #335 closed

[2020-08-17 14:25] DivineHeir commented on #331
Dear Luke,

I couldn’t send the screenshot video record as the file is too big.
Instead, I have put a gif file to show the 7 screenshots on the error.

Kindly appreciate it if you could help.

On 29 Jul 2020, 1:44 AM +0800, Luke Towers <notifications@github.com>, wrote:

[2020-08-17 15:32] LukeTowers commented on #331
Nothing showed up, try sharing on GitHub instead of via email.

[2020-08-18 16:50] DivineHeir commented on #331
Here it is: https://www.dropbox.com/s/769zceocfpch3m3/pagination-sorting-error.mp4?dl=0

Kindly appreciate it if you could help.

Thank you so much!
On 17 Aug 2020, 10:24 PM +0800, Alexis Teo <greenearthheir@gmail.com>, wrote:

[2020-08-18 19:32] LukeTowers commented on #331
Go to your Event Logs page in the backend and try to find the entry for that popup. Copy the stack trace from it. If there isn't an entry, then copy the entire contents of that popup and paste it in here. Sounds like a server configuration issue.

[2020-08-21 15:00] digitreadmedia opened #336 "dependsOn option in fields generator not working"
**OctoberCMS Build: 468**

When trying to add a dependson option to fields, a popup opens with raw HTML and no close button.

![dependson](https://user-images.githubusercontent.com/48868778/90904401-86f28e80-e3cf-11ea-81c6-aa0648aea5d0.png)

[2020-08-24 02:37] bennothommo commented on #336
@digitreadmedia Could you please run `php artisan october:util compile js` from the command line, inside your project folder, and try again?

[2020-08-24 15:34] DivineHeir commented on #331
From what I observed, there is no entry in the event logs page for that error.

Every time I tried to change the settings in some of the boxes of plugin setting on page, there will be error like that.

On the top of the shared video you saw, similar problem will be like that(refer to attached screenshot)
I tried changing the settings, then the popup showed up. Then I couldn’t save the page and I h

[2020-08-26 19:23] digitreadmedia commented on #336
@bennothommo I've installed a completely new build and ran php artisan october:util compile js but it made no difference.

[2020-08-31 16:48] LukeTowers commented on #331
@DivineHeir what version of October are you on?

[2020-09-03 07:16] DivineHeir commented on #331
Build 468
On 1 Sep 2020, 12:48 AM +0800, Luke Towers <notifications@github.com>, wrote:

[2020-09-19 16:47] eagleswings opened #337 "create plugin does not work"
clicking Create plugin does not result in any dialog box appearing. Could this be a setting problem?

[2020-09-19 20:18] LukeTowers commented on #337
@eagleswings please check your browser develop console for errors and report back

[2020-09-19 20:34] eagleswings commented on #337
Error:
Failed to load resource: the server responded with a status of 404 (Not found)

[2020-09-19 20:49] LukeTowers commented on #337
Which resource? Are you using the october:mirror console command?

[2020-09-20 00:12] eagleswings commented on #337
Yes, using Homestead

[2020-09-20 07:38] LukeTowers commented on #337
It needs to be run again every time you install a new plugin or theme, so run it again. You probably installed the builder plugin after running it the first time.

[2020-09-28 14:53] digitreadmedia opened #338 "Add support for basic markup in field labels"
Clients require some basic markup (bold & underline) in backend form field labels such as bold and underline to emphasize specific words inside a label (not necessarily the entire label). Currently HTML used in the lang.php file is always rendered as plain text.

[2020-09-28 15:37] LukeTowers commented on #338
@digitreadmedia can you provide an example use case with your actual text?

[2020-09-28 15:58] digitreadmedia commented on #338
Yes, below is an example from the lang.php file.  The HTML is rendered as text.

`<?php return [
    'plugin' => [
        'name' => 'Plugin Name',
        'description' => 'Plugin Description',
    ],
    'lost_stolen' => 'Any Firearms <b>lost</b> or <b>stolen</b>?',
    'idtype' => '<b>Type</b> of Identity Card',
    'membership' => '<b>Member</b> of Accredited Association?',
    'association' =

[2020-09-28 16:48] LukeTowers commented on #338
I believe you can have HTML in the comment property

[2020-10-05 12:00] Mohmdthabet opened #340 "Jquery Deffered: Uncaught TypeError: $.oc.builder is undefined"
i get this error in console:
Uncaught TypeError: $.oc.builder is undefined

jQuery.Deferred exception: $.oc.builder is undefined @filipac /plugins/rainlab/builder/formwidgets/formbuilder/assets/js/formbuilder.js?builder:798:9e@/modules/backend/assets/js/vendor/jquery.min.js?v=469:2:29453
l/</t<@/modules/backend/assets/js/vendor/jquery.min.js?v=469:2:29755setTimeout handler*l/<
@/modules/backend/as

[2020-10-05 12:02] #340 closed

[2020-11-10 23:26] ayumi-cloud commented on #315
Going to close this and investigate adding it to the core instead.

[2020-11-10 23:26] #315 closed

[2020-11-19 13:44] DivineHeir commented on #331
Hi Luke,

Have you found the solution for the problem?

www.smiletoearth.com is my website. I made a plugin for my blog.
I would like to have the latest blog post I have written to appear first on the list. That’s why I wanted to change the “ascending” to “descending”.
https://www.dropbox.com/s/769zceocfpch3m3/pagination-sorting-error.mp4?dl=0

But it has been failing since last year or this year.

[2020-11-19 19:10] LukeTowers commented on #331
@DivineHeir please copy and paste the entire contents of the error popup here.

[2020-11-21 09:40] DivineHeir commented on #331
On 20 Nov 2020, 3:10 AM +0800, Luke Towers <notifications@github.com>, wrote:

The entire contents of that popup message is:
<!DOCTYPE html>
<html lang="en" class="no-js webkit safari safari13 mac">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0, minimal-ui">
<meta name="robots" content="noindex">
<meta name="app

[2020-11-21 16:38] LukeTowers commented on #331
At this point I would try contacting your host's support team to ask them what's up with this.

[2020-11-24 17:41] DivineHeir commented on #331
I don’t think it is the hosting issue. It is more like the backend of cms issue.
On 22 Nov 2020, 12:38 AM +0800, Luke Towers <notifications@github.com>, wrote:

[2020-11-24 22:12] LukeTowers commented on #331
If you can replicate this issue using v1.1.1 then we'll take another look at this, but given that you're the only one reporting this issue, and the similarity to other issues caused by mis-configured hosting environments I'll close it for now.

[2020-11-24 22:12] #331 closed

[2020-11-29 14:30] ayumi-cloud opened #341 "Change `save` to `save and update` in the controllers update.htm file"
Currently October does the following:

[code]

Currently set to this:

![image](https://user-images.githubusercontent.com/57409060/100544457-9e060f80-324d-11eb-83f2-006b6a2aab28.png)

[code]

Currently set to this:

![image](https://user-images.githubusercontent.com/57409060/100544470-bd04a180-324d-11eb-9689-eae4f9f6b7d0.png)

### The Issue

The `save` button in the `update` file doesn't refresh t

[2020-11-29 14:42] #341 closed

[2020-12-18 15:26] pablorq commented on #212
I'm facing the same problem, using octobercms docker `build.469` (latest) with PostgreSQL. This is not fixed yet.

I'll have to back to MySQL/MariaDB to avoid this problem.

Can you please set a Reame.md file to warn about this issue? It could be good for save a lot of time!

[2020-12-18 18:28] LukeTowers commented on #212
@pablorq just upgrade to October v1.1, that's the latest supported version and it should resolve the issue.

[2020-12-18 18:28] #212 closed

[2020-12-21 09:16] pablorq commented on #212
@LukeTowers how can I upgrade to October v1.1?

I'm using it with a docker container (aspendigital/octobercms:build.469). Is there a new docker container with October v1.1?

[2020-12-21 19:06] LukeTowers commented on #212
@pablorq doesn't look like that docker image supports 1.1 yet. I've emailed the author of it to check in on the status, but in the meantime you'll have to use something else.

[2020-12-22 02:15] bennothommo commented on #212
@pablorq @LukeTowers I noticed that @daftspunk has been working on a Docker image for October CMS as well - https://github.com/daftspunk/docker-october. You could potentially use that - you would just need to update the Dockerfile to use the Composer install as opposed to the October CMS API install.

[2020-12-22 09:16] pablorq commented on #212
@bennothommo thank you for the info! It seems a good solution.

Right now I've to go on with the development, so I'll switching back to MariaDB. When it be advanced enough I'll be switching again to PostgreSQL and test this option.

[2020-12-23 03:11] khoanndang opened #342 "Trouble with path url when deploy to server develop"
I have a trouble with path url
In local:
- everythings okay.
Ex:
- In Backend: enter to menu Builder Plugin with path url http://localhost/vgaming-octobercms/backend/rainlab/builder => Ok

==================================
In server develop:
- When I enter to menu Builder (Builder Plugin - http://my-domain/backend/rainlab/builder) in navigation bar, October CMS return 404 not found page. I don't

[2020-12-23 03:22] bennothommo commented on #342
@khoanndang Are you sure your `app.url` configuration value is set correctly on the server? You could also try running `php artisan cache:clear` on the server if you have copied any cache files to the server.

[2020-12-23 03:32] khoanndang commented on #342
Ya, I checked again variable url in config/app.php . Everythings ok. I have also run the command `php artisan cache:clear` `php artisan cache:config` . And nothing changes :(

[2020-12-23 03:50] khoanndang commented on #342
I cannot imagine where the problem is arising from, because in local server everything is very smooth
Additional:
- In local: Window 10, xampp, php version 7.4
- In develop server: Linux Ubuntu 18.04, nginx, php version 7.3

*************************
Is there a solution to handle this situation without having to re-deploy the code from scratch

[2020-12-23 04:08] khoanndang commented on #342
- In local server (window 10):
Enter to menu Builder (Builder Plugin)
![ok1](https://user-images.githubusercontent.com/39475107/102958216-04a9e080-450f-11eb-99a8-a4b1ffeed988.PNG)
![ok2](https://user-images.githubusercontent.com/39475107/102958232-0a072b00-450f-11eb-9027-a8f913b963c4.PNG)

Enter to view detail News
![ok6](https://user-images.githubusercontent.com/39475107/102958256-15f2ed00-450f-1

[2020-12-23 04:15] khoanndang commented on #342
Define page for list News and Pagination
![check2](https://user-images.githubusercontent.com/39475107/102958666-0cb65000-4510-11eb-81aa-35ca668f22da.PNG)

Define page for view detail News with slug
![check1](https://user-images.githubusercontent.com/39475107/102958697-1b9d0280-4510-11eb-8b21-1c49255e8e71.PNG)

==============================================
Hope everyone has enough information to u

[2020-12-23 04:52] khoanndang commented on #342
Hope everyone has enough information to understand the problem I'm having. Tks all

[2020-12-24 07:12] LukeTowers commented on #342
@khoanndang enable app.debug to see what the problem is. Looks to me like you're encountering a server error (500), but your theme does not have a 500 error page configured so instead it's showing the 404 error page instead.

[2020-12-24 07:43] khoanndang commented on #342
![bug1](https://user-images.githubusercontent.com/39475107/103071411-20d47d00-45f6-11eb-9b30-882750d09bb9.PNG)
I've do it, Can u show me where can I see the problem.

[2020-12-24 08:24] LukeTowers commented on #342
@khoanndang go to the URL that you were having problems with

[2020-12-24 08:29] khoanndang commented on #342
![bug3](https://user-images.githubusercontent.com/39475107/103074679-b4a94780-45fc-11eb-83c1-f521bf2adb52.png)
I still get this error  :(

[2020-12-24 21:10] LukeTowers commented on #342
Do any of the other plugins work or is it just the builder plugin?

[2020-12-25 09:56] khoanndang commented on #342
The plugins built from the Builder Plugin still work fine. Only the Builder Plugin has problems.
Currently I can only use the builder plugin on the local server

[2020-12-26 22:12] SciCrea opened #343 "The image is uploaded but not recorded in the database"
I upload the image, in the backend it is, but in the frontend it is not.

I looked at the database, in the plugin table, in the column with the image empty.

The image is uploaded but not recorded in the database. Why don't I know.

[2020-12-27 00:24] LukeTowers commented on #342
@khoanndang what are all the other plugins you have installed? And what is the APP_ENV set to on your linux server?

[2020-12-27 00:34] LukeTowers commented on #343
@SciCrea what field type are you using? See https://github.com/octobercms/docs/commit/a2ec0ef13bbb32b514f00392d639f656e1e1a1a0 and make sure you're following the instructions on how to use `fileupload` vs `mediafinder` fields properly.

[2020-12-27 00:35] #342 closed

[2020-12-27 00:35] #343 closed

[2021-01-27 08:25] Marysa123 opened #345 "I can't connect images"
Hello, I ran into a problem,I connect the image in this way `<li style= "background-image: url( {{ record.imagefon|media }});" >` but still gives an error 404 file not found although I go to the path that is specified it is there.I'm new to using October so I'm asking for help.

[2021-01-27 09:06] bennothommo commented on #345
GitHub issues really isn't the place for questions like this. Please use one of the many other avenues available instead of submitting new issues for your questions.

Forum: https://octobercms.com/forum
StackOverflow: https://stackoverflow.com/questions/tagged/octobercms
IRC: #october on Freenode or https://octobercms.com/chat
Slack: https://octobercms-slack.herokuapp.com/
Discord: https://discord

[2021-01-27 09:06] #345 closed

[2021-02-20 22:47] schillerenrico opened #347 "identifierValue in plugins\rainlab\builder\components\RecordDetails.php"
Hello!

I am currently trying your components for list and detailpages.
It accured that the $identifierValue in RecordDetails.php is not returning the value in the url but instead the key name.
I followed this tutorial (https://octobercms.com/support/article/ob-12) but the value of $identifierValue is always just the key name and this results in record not found from this method.

[code]

If you n

[2021-02-21 16:00] LukeTowers commented on #347
@schillerenrico please post the configuration of the component from the page / layout where you have included the component.

[2021-02-22 19:43] schillerenrico commented on #347
I just found my mistake. The configuration was a good hint. I messed up the identifierValue by using a fixed value... Now its working 👍🏻
![image](https://user-images.githubusercontent.com/10064004/108760804-678b1880-754e-11eb-8863-4466a8d243b0.png)

[2021-02-22 19:43] #347 closed

[2021-02-25 11:28] Eeesbk opened #348 "Add support plugin Translate"
Plugin Blog have support Translate, this Builder why not?

[2021-02-25 12:20] Eeesbk commented on #348
Resolved

YOUR_PLUGIN/models/CLASS_NAME.php
ADD:
public $implement = ['RainLab.Translate.Behaviors.TranslatableModel'];
public $translatable = ['title','descr','descr_sh']; //fields for translate

[2021-02-26 19:28] #348 closed

[2021-03-11 03:22] Patrick-foreseers opened #349 "Cannot read property 'getGlobalTabsProperties' of undefined"
I'm new to OctoberCMS and first time use this builder.
I'm trying to add a new Model however an error is prompted when I save the Form in model.

[2021-03-14 04:25] daftspunk commented on #349
Hey @Patrick-foreseers, can you provide step by step instructions on how you arrive at this error?

[2021-03-18 02:11] KalynDavis opened #350 "[PHP 8.0] Created Model Not Showing"
After creating a model and verifying it within the filesystem, the model does not show up in the UI. I attempted to debug it and was only able to conclude that the object `DirectoryIterator($modelsDirectoryPath)` is returning a directory instead of a file within the foreach loop as the `isFile` condition fails.

[2021-03-19 01:53] daftspunk commented on #350
Can you provide more detail, what is the name of the model? Some step-by-step instructions would be useful for us to test this. Thanks!

[2021-03-19 05:17] mistahcheong opened #351 "Creating a migration: creates an error unexpected syntax"
After creating a new plugin, then trying to create a new migration. After clicking save and close, a modal pops up and shows the following error:

`syntax error, unexpected '<', expecting function (T_FUNCTION) or const (T_CONST)" on line 8 of /var/www/html/...`

- Plugin is created
- But migration is not made, no table found on MySql

This is the migration code that your plugin created:
`public fu

[2021-03-19 05:47] mistahcheong commented on #351
I found the error. Plugin does not work with wysiwyg specifically by Anand Patel. Hopefully you guys can override certain plugins; editors and such, when we are using your plugin.

[2021-03-22 05:36] daftspunk commented on #351
Thanks for reporting back. Please make sure this information is given to Anand Patel

[2021-03-22 05:36] #351 closed

[2021-04-07 11:52] Pabitra-Avanzarit commented on #350
Hi Sir,
I have installed the Builder plugin in OctoberCMS and then I create a plugin name Client which is used to store the client companies logo or images. After creating the plugin, I can create a database table from builder database side menu. But after creating the model from builder side menu, it doesn't show anything. While i try to create same name model, show an error that this model alrea

[2021-04-09 05:45] daftspunk commented on #350
Please try renaming your plugin from `client` to `Client` (with a capital C)

[2021-04-09 07:51] Pabitra-Avanzarit commented on #350
Thanks Sir for replying on my issue. At last I figure out the my issue. Its not related to the OctoberCMS, it related to the PHP version. I had install > 8.0 version. Now I remove that PHP version and install 7.3 version PHP and the problem is solved.

[2021-04-09 19:43] Jelmerkeij commented on #350
To add on this issue. When using PHP 8.0.3 and creating a model, the browser console (in Chrome) shows an error: POST http://localhost/backend/rainlab/builder 406 (Not Acceptable)

[2021-04-10 18:29] mcalexster opened #353 "Question: Does table creation support the use of database schemas?"
I want to create tables with different schemas in the database, is this possible?  I looked through documentation but it doesn't seem to be supported, at least I couldn't find any references to do this.

If it can't be done by builder-plugin, can you add the schema to the tables externally and still use the plugin for such things as later ddl changes or will builder not see the altered table any m

[2021-04-12 06:46] daftspunk commented on #350
Thanks for the feedback. I did not notice that you were using PHP 8. The builder plugin is yet to support this version of PHP. We will address it soon

[2021-04-14 10:24] daftspunk commented on #353
Yes, you are able to modify the plugin on the file system to introduce any database schema you like. The builder plugin should be able to detect the schema and changes that you make.

View the documentation for more details on coding this by hand: https://octobercms.com/docs/database/structure

I hope this helps!

[2021-04-14 10:24] #353 closed

[2021-04-15 15:58] gwonzhang commented on #139
I did have the same question, now I know how to do it. Thank you guys for above answers.

[2021-04-15 17:35] SciCrea opened #354 "Date localization"
Hello, the date is displayed without localization. The language is installed in the settings. The Blog plugin displays localization.

[2021-04-16 00:28] daftspunk commented on #139
We have this on our internal tracker to implement already

[2021-04-16 00:29] daftspunk commented on #354
Please provide more information on the problem, expectation and current behaviour

[2021-04-16 05:33] SciCrea commented on #354
I created a plugin with the "Date and Time" field. Twig:
`{{ record.date|date('d M') }}`

Get:
`12 Apr`

I'm waiting for a date in Cyrillic

[2021-04-16 11:00] SciCrea commented on #354
Need more information?

[2021-04-16 17:01] SciCrea commented on #354
You need to specify the type of field in the model.
`protected $dates = ["variable"];`

[2021-04-16 17:01] #354 closed

[2021-05-17 12:23] disvst opened #355 "plugin won't update from 1.0.26 to 1.0.28"
Updating my project via october via `composer update` or `php artisan october:update` is fine, except for the builder plugin, which get stuck to `1.0.26` version.

In the plugin management UI, I can read `php artisan plugin:remove RainLab.Builder` instead of the update command line available when a plugin has been updated.

My current php version is `7.4.12`

[code]

[2021-05-17 23:24] daftspunk commented on #355
Hi @disvst !

It appears to be working fine here

[code]

Please check your composer.json file to make sure it is not asking for that specific version. You can also force it to use the latest version by using this command

[code]

If you need further assistance with this, feel free to shoot us an email at hello@octobercms.com and we'll be happy to help.

Thanks!

[2021-05-17 23:24] #355 closed

[2021-05-18 08:07] disvst commented on #355
Hi @daftspunk,

Thanks for your answer. My issue seems to be a more global issue about updates. I sent you an email about it.

Thanks!

[2021-05-19 07:17] joshuadesierto commented on #303
after adding the custom control in the frontend i get an error  `"Class 'Solas\Researchresources\Classes\ControlDesignTimeProvider' not found" on line 141 of /var/www/html/myoctober/solas/plugins/rainlab/builder/formwidgets/FormBuilder.php`
i just did whats in the documentation but i guess i probably miss something or maybe a file path miss placement. I saved the "ControlDesignTimeProvider" file i

[2021-05-19 07:17] mistahcheong opened #356 "Error when saving plugin with File field"
When creating a new record with a file upload field it returns this error:
`"array_flip() expects parameter 1 to be array, null given" on line 86 of /var/www/html/october-cms/solas/vendor/october/rain/src/Database/Behaviors/Purgeable.php`

I already included the input field to the model in `public $attachOne` and removed the field on the database. How can I save files and images?

[2021-05-19 07:30] daftspunk commented on #303
Everything looks fine here @joshuadesierto. The error suggests it cannot find your class that should be located in

plugins/solas/researchresources/classes/ControlDesignTimeProvider.php

Double check the file path

[2021-05-19 07:34] daftspunk commented on #356
Hello @mistahcheong !

What version of Ocrtober CMS are you using? Also what version of RainLab.Translate do you have installed?

[2021-05-19 07:45] joshuadesierto commented on #303
@daftspunk thanks. i fixed it already. it's the documents typo from the builder plugin saying saving it to 'class/ControlDesignTimeProvider.php' instead of 'classes/ControlDesignTimeProvider.php'.

[2021-05-19 08:14] mistahcheong commented on #356
I'm currently using v2 of octobercms and v1.7.4 for the Rainlab.Translate. Is this the issue? I'll try updating it

[2021-05-20 05:16] daftspunk commented on #356
Yes, that would be it, v2 support for Translate was added in v1.8 and above

Thanks

[2021-05-20 05:16] #356 closed

[2021-05-21 05:46] daftspunk commented on #303
@joshuadesierto Thanks, I've fixed the docs

[2021-06-07 10:02] happyprogrammer2020 opened #357 "move plugin"
hi
what  ever can i move created plugin in builder to other web site?
i want this plugin appear to plugin builder and i can change it not as a plugin that instal it and use it.
thanks

[2021-06-08 02:47] daftspunk commented on #357
Hi @happyprogrammer2020

Plugins that you create with the builder plugin should appear in the `/plugins` directory of your website. From here you can transfer them to any other website.

I hope this helps

[2021-06-08 02:47] #357 closed

[2021-08-31 06:28] TravisHi commented on #350
Getting the same issue with `php 7.2.34`. The model exists but is not showing.

[2021-09-01 02:52] TravisHi commented on #350
I had to end up renaming my Model if that helps anyone that comes across something similar

[2021-09-02 00:24] #350 closed

[2021-09-02 00:25] daftspunk commented on #350
If this is still an issue, please send us an email if with step by step instructions on how to replicate it.

[2021-09-17 11:25] uematsusoft opened #359 "Adding form fields to model does not load the .env DB connection variables"
Hi.

Since September 1st (back from vacations) I noticed that, in builder plugin, every time I add a form control to a model form and select the "field" field, I get an error before it loads the DB fields list to choose from (auto-complete).

It appears that it can't load the correct .env file DB connection variables since I changed the default values in the config/database .php file and the error

[2021-09-18 06:14] daftspunk commented on #359
Hi Domingos,

Sorry to hear you are having difficulties.

Unfortunately, I was unable to replicate this problem using October CMS v2.1.8 and v1.1.0 of this plugin. The environment variables are used along with the default file-based configuration. The response time is also normal.

The performance seems to be network related and it's possible that your environment variables are getting emptied som

[2021-09-18 06:14] #359 closed

[2021-09-18 10:02] FaintlyRaiseIncome commented on #182
I want to add the `json` type to the column types of the table, it is possible to do this without rewriting half of the code

[2021-09-20 09:06] daftspunk commented on #182
You should be able to add these to your migration files manually. If this causes interference with the builder UI, let us know.

[2021-09-20 09:06] #182 closed

[2021-11-07 11:40] angelcoding opened #360 "Version rollback not working in PHP 8"
If I try to rollback my plugin's version I get this message and it does not complete the rollback ...

The problem seems to be in `\RainLab\Builder\Classes\MigrationFileParser::extractNamespace`.
There have been some tokens added since PHP 8 - namely `T_NAME_QUALIFIED` - which is causing the namespace extraction to fail.

So, on line 67 I changed this ...
[code]
to ...
[code]
and it now works.

I

[2021-11-07 22:19] #360 closed

[2021-11-07 22:19] daftspunk commented on #360
Thanks!

[2022-01-25 20:00] snipiba opened #361 "Feature request: Migrations for update columns"
Currently changing database field generate migration file, where original field was dropped (dropColumn) and new column is created. This will drop all data, thats will be fail from more point of view...

Update please to use $table->renameColumn instead.

In UP:
`
    Schema::table('table_name', function(Blueprint $table)
    {
        $table->renameColumn('old_name', 'new_name');
    });
`

In DO

[2022-01-27 01:42] daftspunk commented on #361
Hi @snipiba

We may need more information on this one Renaming a column uses `renameColumn` already:

[code]

[2022-02-01 23:25] #361 closed

[2022-02-11 10:29] PubliAlex commented on #139
Would it be possible to get an ETA of this ? I think it would not be a huge thing to save the images in an array rather than a single string when the media manager is in a "multiple" mode, but maybe I'm underestimating the complexity of it.

[2022-02-13 03:33] daftspunk commented on #139
Probably next feature release (v2.2)

[2022-02-13 10:44] PubliAlex commented on #139
How, that would be awesome !

[2022-02-22 05:03] codingcrafter opened #362 "Display A Single Column Record In the Page Title"
Thank you for the plugin and the nice documentation with the video. It was very insightful into backend development, something I am very bad at, but learning.

I was able to setup my plugin, but I was wondering if I am doing this right.

I used my component, but didn't call the partial. Then I referenced each column of my table in page. (This is for a custom blog-type format I am developing)

This

[2022-02-23 23:02] daftspunk commented on #362
Hey @codingcrafter, yes that's it. We have some improvements to this approach in the next version (v2.2) where you can simply define the title inside the page configuration. Like this

[code]

However, the way you've done it is also correct. Great job! Thanks for sharing your result.

[2022-02-23 23:02] #362 closed

[2022-02-26 06:36] daftspunk commented on #295
Fixed in v1.1.1

[2022-02-26 06:36] #295 closed

[2022-02-26 07:01] daftspunk commented on #308
Moved to #310

[2022-02-26 07:01] #308 closed

[2022-02-26 07:08] daftspunk commented on #143
Fixed by #181

[2022-02-26 07:08] #143 closed

[2022-02-26 07:10] #169 closed

[2022-02-26 07:11] #180 closed

[2022-02-26 07:19] daftspunk commented on #184
Confirmed this bug. This is because the builder spec of a dropdown is different to the October spec. It wants an array and receives a string. It is not possible to set it as a string using builder, only manually.

We will fix this in the next major iteration of builder.

Thank you

[2022-02-26 07:26] daftspunk commented on #211
This is a good idea. I've added this idea to the internal tracker. Thanks

[2022-02-26 07:26] #211 closed

[2022-02-26 07:28] daftspunk commented on #338
The `commentHtml` property should allow HTML inside comments. This is the best place for it. The label would create problems for future maintenance because its hard to predict what will be found in them.

I hope this helps!

[2022-02-26 07:28] #338 closed

[2022-02-26 07:30] daftspunk commented on #297
This is a common problem throughout and we've solved it by switching to JSON serialization.

Added this to the internal tracker so it can be addressed in the next design of builder.

Thanks

[2022-02-26 07:30] #297 closed

[2022-02-26 07:35] daftspunk commented on #272
Fixed in the next version (v1.1.1).

Thanks

[2022-02-26 07:35] #272 closed

[2022-02-26 07:40] daftspunk commented on #336
Hello, I was unable to confirm this bug using October v2.1.31. I recall there was a core issue that was fixed that may have been causing this problem. If it is still an issue, feel free to contact us via the professional support channel: https://octobercms.com/contact

Best regards

[2022-02-26 07:40] #336 closed

[2022-02-26 07:46] daftspunk commented on #311
This is confirmed. Thanks

[2022-02-26 07:49] daftspunk commented on #325
Added this to the internal tracker for the next iteration of builder.

Thanks Ivan

[2022-02-26 07:49] #325 closed

[2022-02-26 07:51] daftspunk commented on #219
Added this to the internal tracker for the next iteration of builder.

Thanks!

[2022-02-26 07:51] #219 closed

[2022-02-26 07:53] daftspunk commented on #326
This is a known issue. If the builder outputs an array, it expects an array. Some values are hybrids and it results in these JS issues. Added this to the internal tracker for the next iteration of builder.

Thanks!

[2022-02-26 07:54] #298 closed

[2022-02-26 07:58] daftspunk commented on #257
This can be achieved without modification to this plugin. Try this:

[code]

Thanks

[2022-02-26 07:58] #257 closed

[2022-02-26 08:03] daftspunk commented on #284
Hi @GinoPane

This is never really a sanctioned feature because of problems it creates (like this one). It isn't used officially or documented anywhere, the system simply ignores non-script messages internally -- so it is possible for the developer to fill this space with a changelog, although it scales poorly.

The feature is intended to be a "version note" instead of a complete changelog. It is

[2022-02-26 08:03] #284 closed

[2022-02-26 08:06] daftspunk commented on #296
Big reveal :grin: October has many nice things like this. Documenting them all can make the system too clunky and spoil some of the magic. Once the user learns about it, he/she doesn't need to see it every time.

[2022-03-02 12:21] zakir1929 commented on #328
Thankyou for this update @samgeorges. it was much needed

[2022-03-13 00:15] daftspunk commented on #321
Hi @dathwa,

This should be fixed in v1.1.3 of the builder plugin

Thanks

[2022-03-13 00:15] #321 closed

[2022-03-22 03:43] chrisvidal opened #365 "BackendMenu issue with duplication of permission"
Every time I update and save a menu item in the BackendMenu, it duplicates the permissions for each of the side-menus.

Example:
[code]

[2022-03-22 04:26] daftspunk commented on #365
Thanks for the report. This should be fixed in v1.1.4

[2022-03-22 04:26] #365 closed

[2022-03-24 13:28] kevinvermeulenn opened #366 "Custom value in Relation"
Hi!

Is it possible to add a custom value within a record using Relation in the Builder in combination with $belongsToMany?

For example, I have a recipe site where I want to add the ingredients to a recipe. Now, the quantity of flavour is fixed based on an ingredient within Ingredients but the quantity could differ per recipe.

Similar to this: https://blog.quickadminpanel.com/laravel-belongstoma

[2022-03-25 10:07] #366 closed

[2022-04-11 06:37] CockyCat opened #367 "How to add comment for field via UI of Database?"
I just only add column, but i can't add comment via UI.

[2022-04-11 06:40] CockyCat commented on #367
have been supported

[2022-04-11 07:17] CockyCat commented on #367
I have upgrade 1.1.4, but i still cant add comment on UI.

[2022-04-13 09:33] daftspunk commented on #367
Hello, this feature is enabled in the Builder Settings. Navigate to Settings → Builder

![image](https://user-images.githubusercontent.com/1392869/163146513-eafe2ad2-95c9-4321-9fac-76a64c0a2aab.png)

Enable the setting in the screenshot for the comment feature to be activated.

I hope this helps!

[2022-04-13 09:33] #367 closed

[2022-06-16 07:14] coresmart opened #368 "Database - Version 1.2.1"
Hello, I updated Builder to version 1.2.1 this morning.  Since the update, I cannot add or modify any tables for my plugin.

When I click Save I get the following message:

Migration

There are no changes to save.

[Cancel]

This only happened since updating to version 1.2.1

Any guidance or help would be greatly appreciated.

[2022-06-16 08:42] #368 closed

[2022-06-16 08:43] samgeorges commented on #368
Hi @coresmart

Thanks for this bug report. Please update to v1.2.2 and try again

[2022-06-16 08:55] coresmart commented on #368
That did it.  Thanks so much for the quick response!!
ᐧ

On Thu, Jun 16, 2022 at 4:44 AM Sam Georges ***@***.***>
wrote:

--
Paul M. Burgess, Principal
CoreSmart Interactive, LLC
"Relationship-driven web solutions"
166 Valley Street,
Building 6M, Suite 103
Providence, RI 02909
Phone: (866) 288-CORE, Ext. 2677
Mobile: (860) 634-7455
Fax: (866) 844-4967
Email: ***@***.***
Web: http://www.coresmart.c

[2022-07-21 15:53] dathwa opened #369 "BadMethodCallException: Method October\Rain\Validation\Validator::validateReserved does not exist"
Hi.
I've got an issue trying to create a new plugin. When i try to save it.
BadMethodCallException: Method October\Rain\Validation\Validator::validateReserved does not exist. in \public_html\vendor\laravel\framework\src\Illuminate\Validation\Validator.php:1307

OCMS 2.2.32 - all other plugins up-to-date.
Was working a few days ago.
Any ideas anyone?
Thanks

[2022-07-22 01:38] daftspunk commented on #369
Hey @dathwa

Thanks for the bug report; try updating to v1.2.4 of this plugin to see if it helps.

[2022-07-22 01:38] #369 closed

[2022-11-08 08:32] Thulaa123 opened #370 "Error when creating a new plugin in the newest update [version: 3.1.22]"
"Undefined constant Backend\Behaviors\FormController::CONTEXT_CREATE" on line 39. ..../plugins/rainlab/builder/classes/IndexOperationsBehaviorBase.php

Please correct this function.

[2022-11-08 08:45] daftspunk commented on #370
Hello, thank you for the report. This is fixed in Builder v1.2.6

[2022-11-08 08:45] #370 closed

[2022-11-08 09:38] Thulaa123 commented on #370
Hello Rainlab/Builder-Plugin team, your last released version is v1.2.5 on
jul 22 2022

On Tue, 8 Nov 2022 at 2:15 PM, daftspunky ***@***.***> wrote: